<div class="setting-container-detail">
  <h2>本登録が終了しました。</h2>
  <div class="registration-container">
  <div class="mail_text">
    <h3>今後の流れ</h3>
    <p>ご登録ありがとうございます。入力していただきましたメールアドレスとパスワードにて以下リンクにてログイン可能となっております。</p>
    <div class="guide-login">
      <%= link_to "ログイン画面", new_user_session_path %>
    </div>
    <p>また、履歴書やサービスについて運営スタッフより電話(050-3187-4372)にてご連絡いたします。何卒よろしくお願いいたします。</p>
  </div>
</div>
</div>
