<!--
* 退会設定をするviewファイル。データベースからemployee_idに紐づく全データを削除するクエリを送れるように設定する
* 決めなくてはいけないこと：admin に通知を出すだけにして、管理者が全データを削除する操作をする業務フローにするかどうか。
　　　　　　　　　　　　　　あるいは、退会すると全データが削除されますが本当にいいですか？という確認が画面を表示させるかどうか。
                        または、パスワードによる認証を必要とするかどうか。
* ひとまず、全データをDBから削除するクエリにする。認証は一切取らない。
* 最終編集 : 2018.7.23  edited by takuya
-->

<!--
* 未解決のバグ等
  * 画面のヘッダーが最初のトップページの状態で、メニュー画面のようなページがない
-->


<div class="content_container">
  <div class="detail_scout">

  <%= from_with model: employee_accounts.new do |f|}  %>
<form>
  <!-- <div class="msr_text_03"> -->
  <div class="button_group">
  <div class="has-float-label_full_lg">
    <input id="eee" type="text" placeholder="山田"/>
    <label for="eee">名前</label>
    <p class="must_btton_text">必須</p>
    <% f.text_field :last_name %>
  </div>
  </div>

  <div class="button_group">
      <a href="/users/sign_in" class="log_btn">ログイン</a>
  <div class="has-float-label_full_sm">
    <input id="ddd" type="text" placeholder="example@gmail.com"/>
    <label for="ddd">メールアドレス</label>
    <p class="must_btton_text">必須</p>
  </div>
  </div>

    <div class="button_group">
    <div class="has-float-label_full_2col">
      <input id="fff" type="text" placeholder="数字4列"/>
      <label for="fff">password</label>
      <p class="must_btton_text">必須</p>
    </div>
  </div>

  <div class="button_group">
    <div class="has-float-label_full_2col">
      <input id="first" type="text" placeholder="Surname"/>
      <label for="first">Last</label>
      <p class="must_btton_text">必須</p>
    </div>
  </div>


  <div class="over_text_col">
      <p class="must_btton_over_text">必須</p>
      <p>Pulldown</p>
      <select>
        <option value="">選択してください</option>
        <option value="test1">test1</option>
        <option value="test2">test2</option>
        <option value="test3">test3</option>
        <option value="test4">test4</option>
        <option value="test5">test5</option>
      </select>
  </div>


  <!-- html -->
<div class="checkbox_col">
  <p class="must_btton_check">必須</p>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェック </span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェック</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェック</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェックボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
</div>


</form>
<% end %>
</div>
</div>
