<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employment_pattern.name %>
</p>

<%= link_to 'Edit', edit_employment_pattern_path(@employment_pattern) %> |
<%= link_to 'Back', employment_patterns_path %>
