<% provide(:title, "会社概要") %>
<div class="content_upper">
  <h3>会社概要</h3>
</div>
<div class="setting-container-detail">
    <table class="table_1">
      <tbody>
        <tr>
          <th>会社名</th>
          <td>株式会社Zielson(ジールソン)</td>
        </tr>
        <tr>
          <th>代表者</th>
          <td>嶋崎聖</td>
        </tr>
        <tr>
          <th>本社所在地</th>
          <td>〒104-0033</br>
              東京都中央区新川2-2-1</br>
          いづみハイツ茅場町913</td>
        </tr>
        <tr>
          <th>会社HP</th>
          <td><a href="http://zielson.com/">zielson.com</a></td>
        </tr>
      </tbody>
    </table>
</div>
