<%= provide(:title, 'SekouAPP') %>
<% content_for :header do %>
<div class="container">
 <div class="row">
   <div class="container-fluid">
     <h1>施工ネット 測量・設計</h1>
      <nav class="hidden-md-down-cl">
        <ul>
          <li><a href="/#service">求職者</a></li>
          <li><a href="/#point">スカウト</a></li>
          <li><a href="/#flow">メッセージ</a></li>
          <li><a href="/#flow">クリップ</a></li>
          <li><a class="toggle menu" href="/#faq">設定</a>
            <ul class="inner child">
              <li class="inner-li_1">公開情報</li>
              <li class="inner-li_2">ログイン情報</li>
              <li class="inner-li_3">通知機能</li>
              <li class="inner-li_4">退会</li>
            </ul>
          </li>
        </ul>
      </nav>
    </div><!--container-fluid-->
  </div><!--row-->
</div><!--container-->
<% end %>
<% parent_layout 'application' %>

<h4>
  <a href="http://zielson.com/#sec4">お問い合わせはこちら</a>
  <br></br>
</h4>
