<% provide(:title, "お問い合わせ") %>
<div class="content_upper">
  <h3>お問い合わせ</h3>
</div>
<div class="setting-container-detail-contact">
  <div class="display-contact">
    <div class="display-title">
      <h3>問い合わせ先</h3>
    </div><!--display-title -->
    <div class="display-detail">
      <div class="color-container">
        <a href="http://zielson.com/#sec4">お問い合わせはこちら</a>
        <br>
        <br>
        <p>運営会社の株式会社Zielsonの問い合わせフォームよりお願いいたします。</p>
      </div>
    </div><!--display-detail -->
  </div><!--display-contact -->
</div><!--setting-container-detail-contact -->
