<%= provide(:title, 'SekouAPP') %>
<div class="content_upper">
  <h3>よくある質問</h3>
</div>
<div class="setting-container-detail">
  <div class="faq-head">
    <ul>
      <li><a href="#user-faq">求職者の方からのご質問</a></li>
      <!-- <li><a href="#client-faq">採用企業の方からのご質問</a></li>
      <li><a href="#other-faq">その他のご質問</a></li> -->
    </ul>
  </div>
  <div class="display-faq">
    <div id="user-faq">
      <div class="display-detail">
        <h3>求職者の方からのよくあるご質問</h3>
        <dl>
          <dt><span>Q.</span>利用するには費用がかかりますか？</dt>
          <dd><span>A.</span>企業様からいただいており、みなさまは全て無料でご利用できます。</dd>

          <dt><span>Q.</span>プロフィールとして登録した情報のうち、企業に公開される項目は？</dt>
          <dd><span>A.</span>お名前、電話番号、メールアドレス、誕生日の個人情報項目は、企業からのスカウトメールに承諾返信した場合のみ該当企業に公開されます。</dd>

          <dt><span>Q.</span>業務委託、契約社員、アルバイト、学生でも登録可能でしょうか？</dt>
          <dd><span>A.</span>はい、可能です。正社員に限らずスカウトが届きます。</dd>

          <dt><span>Q.</span>測量や設計の経験がなくても登録可能でしょうか？</dt>
          <dd><span>A.</span>はい、可能です。未経験者の方もスカウトが届きます。</dd>

          <dt><span>Q.</span>スカウトメールが届いた後の流れは？</dt>
          <dd><span>A.</span>スカウト企業様の情報をみて、選考へ進みたい場合のみ、承諾ボタンを押していただきます。承諾しますとお名前、メールアドレスなどの個人情報が開示されますので、企業様と直接やりとりをおこない、選考へ進んでいただきます。</dd>
        </dl>
      </div><!--display-detail -->
    </div><!--user-faq -->
  </div><!--display-faq -->
</div><!--setting-container-detail -->
