<%= provide(:title, 'SekouAPP') %>
<div class="content_upper">
  <h3>よくある質問</h3>
</div>
<div class="setting-container-detail">
  <div class="faq-head">
    <ul>
      <li><a href="#user-faq">求職者の方からのご質問</a></li>
      <li><a href="#client-faq">採用企業の方からのご質問</a></li>
      <li><a href="#other-faq">その他のご質問</a></li>
    </ul>
  </div>
  <div class="display-faq">
    <div id="user-faq">
      <div class="display-detail">
        <h3>求職者の方からのよくあるご質問</h3>
        <dl>
          <dt><span>Q.</span> 一括サイトとの違い</dt>
          <dd><span>A.</span>一括見積もりサイトは複数の業者に対して自動的に情報を送り、見積もりを取り寄せたり、バラバラと勝手に連絡がお客様に入るのがほとんどです。<br>太陽光メンテプロでは、まずは専門コンシェルジュがお客様の要望をヒアリングし、最適な業者を紹介します。</dd>

          <dt><span>Q.</span> 一度にたくさんの電話が来そう</dt>
          <dd><span>A.</span>最初に専門コンシェルジュがお客様へ要望を確認した上で適切な業者と連絡をとり、お客様へ見積もり提案をいたしますので、たくさんの電話が来ることはございません。コンシェジュが提案した業者の中から希望にそう業者とのみ連絡を取ることが可能となります。</dd>

          <dt><span>Q.</span> 紹介後の見積もりで断ることは可能か</dt>
          <dd><span>A.</span>はい、可能です。その場合は、直接、業者へお伝えください。直接お伝えが難しい場合は、ご連絡いただければコンシェルジュからお伝えいたします。また、契約にいたらなかった理由については後日お聞かせいただければ幸いです。</dd>

          <dt><span>Q.</span> 太陽光メンテプロは無料なの</dt>
          <dd><span>A.</span>はい、無料です。本サービスは、業者側から紹介料/成約料をいただいて運営しているので、お客様から金額はいただきません。無料でご利用することが可能となっております。</dd>

          <dt><span>Q.</span> 問い合わせ後の流れは</dt>
          <dd><span>A.</span>弊社の専門コンシェルジュがいただきました電話番号へ連絡差し上げます。太陽光発電の状況や希望サービス等の情報をヒアリングし、最適な業者から概算見積もりを取得します。その後、お客様へ見積もりを提示しますので、希望に沿う業者と成約していただく流れとなります。最終仕上げありに関してヒアリングさせていただければ幸いです。</dd>
        </dl>
      </div><!--display-detail -->
    </div><!--user-faq -->
  </div><!--display-faq -->
  <div class="display-faq">
    <div id="client-faq">
      <div class="display-detail">
        <h3>採用企業の方からのよくあるご質問</h3>
        <dl>
          <dt><span>Q.</span> 一括サイトとの違い</dt>
          <dd><span>A.</span>一括見積もりサイトは複数の業者に対して自動的に情報を送り、見積もりを取り寄せたり、バラバラと勝手に連絡がお客様に入るのがほとんどです。<br>太陽光メンテプロでは、まずは専門コンシェルジュがお客様の要望をヒアリングし、最適な業者を紹介します。</dd>

          <dt><span>Q.</span> 一度にたくさんの電話が来そう</dt>
          <dd><span>A.</span>最初に専門コンシェルジュがお客様へ要望を確認した上で適切な業者と連絡をとり、お客様へ見積もり提案をいたしますので、たくさんの電話が来ることはございません。コンシェジュが提案した業者の中から希望にそう業者とのみ連絡を取ることが可能となります。</dd>

          <dt><span>Q.</span> 紹介後の見積もりで断ることは可能か</dt>
          <dd><span>A.</span>はい、可能です。その場合は、直接、業者へお伝えください。直接お伝えが難しい場合は、ご連絡いただければコンシェルジュからお伝えいたします。また、契約にいたらなかった理由については後日お聞かせいただければ幸いです。</dd>

          <dt><span>Q.</span> 太陽光メンテプロは無料なの</dt>
          <dd><span>A.</span>はい、無料です。本サービスは、業者側から紹介料/成約料をいただいて運営しているので、お客様から金額はいただきません。無料でご利用することが可能となっております。</dd>

          <dt><span>Q.</span> 問い合わせ後の流れは</dt>
          <dd><span>A.</span>弊社の専門コンシェルジュがいただきました電話番号へ連絡差し上げます。太陽光発電の状況や希望サービス等の情報をヒアリングし、最適な業者から概算見積もりを取得します。その後、お客様へ見積もりを提示しますので、希望に沿う業者と成約していただく流れとなります。最終仕上げありに関してヒアリングさせていただければ幸いです。</dd>
        </dl>
      </div><!--display-detail -->
    </div><!--user-faq -->
  </div><!--display-faq -->
  <div class="display-faq">
    <div id="other-faq">
      <div class="display-detail">
        <h3>その他のよくあるご質問</h3>
        <dl>
          <dt><span>Q.</span> 一括サイトとの違い</dt>
          <dd><span>A.</span>一括見積もりサイトは複数の業者に対して自動的に情報を送り、見積もりを取り寄せたり、バラバラと勝手に連絡がお客様に入るのがほとんどです。<br>太陽光メンテプロでは、まずは専門コンシェルジュがお客様の要望をヒアリングし、最適な業者を紹介します。</dd>

          <dt><span>Q.</span> 一度にたくさんの電話が来そう</dt>
          <dd><span>A.</span>最初に専門コンシェルジュがお客様へ要望を確認した上で適切な業者と連絡をとり、お客様へ見積もり提案をいたしますので、たくさんの電話が来ることはございません。コンシェジュが提案した業者の中から希望にそう業者とのみ連絡を取ることが可能となります。</dd>

          <dt><span>Q.</span> 紹介後の見積もりで断ることは可能か</dt>
          <dd><span>A.</span>はい、可能です。その場合は、直接、業者へお伝えください。直接お伝えが難しい場合は、ご連絡いただければコンシェルジュからお伝えいたします。また、契約にいたらなかった理由については後日お聞かせいただければ幸いです。</dd>

          <dt><span>Q.</span> 太陽光メンテプロは無料なの</dt>
          <dd><span>A.</span>はい、無料です。本サービスは、業者側から紹介料/成約料をいただいて運営しているので、お客様から金額はいただきません。無料でご利用することが可能となっております。</dd>

          <dt><span>Q.</span> 問い合わせ後の流れは</dt>
          <dd><span>A.</span>弊社の専門コンシェルジュがいただきました電話番号へ連絡差し上げます。太陽光発電の状況や希望サービス等の情報をヒアリングし、最適な業者から概算見積もりを取得します。その後、お客様へ見積もりを提示しますので、希望に沿う業者と成約していただく流れとなります。最終仕上げありに関してヒアリングさせていただければ幸いです。</dd>
        </dl>
      </div><!--display-detail -->
    </div><!--user-faq -->
  </div><!--display-faq -->
</div><!--setting-container-detail -->
