<div class="modal-dialog">
  <div class="modal-content">
   <p>ありがとうございます。企業様より<%=@scout.user.last_name%>様のメールアドレスへ連絡が入りますので今しばらくお待ちください。<br>今後は、直接企業様とやりとりしていただきます。</p>
   <%= link_to '他のスカウトを見る', scout_views_path, class: "modal-link" %>
  </div>
</div>
