<!--
* スカウトの詳細を表示するviewファイル。
* 決めなくてはいけないこと：どのぐらいその企業の詳細の情報を掲載するか。(資本金とかなどなど)
* ひとまず、scout変数のcontentだけ表示する
* 最終編集 : 2018.7.23  edited by takuya
-->

<!--
* 未解決のバグ等
  * 画面のヘッダーが最初のトップページの状態で、メニュー画面のようなページがない
  * テーブルへレコードを格納して表示を確認していないので、テーブルの中身によってはうまく行かない可能性がある。
-->


<div class="content_container">
  <div class="detail_scout">

<!-- ここのpartialの使い方はわからない。けどこのpartialは使ったほうがいい
    使うpartial ; _scout_detail_user
-->

  <table class="table_1">
    <tr>
    <th>求人の詳細情報</th>

  <!-- ここのデータベースの参照は未実装 -->

    </tr>

  </table>
  <div class="btn-position">
    <a class="accept_btn">選考を希望する</a>
  </div>

</div>
</div>


<tr>
<th><%= link_to "元に戻る" , :action => 'index' %> </th>
</tr>
