<!--
* スカウトの一覧を表示するviewファイル。
* 決めなくてはいけないこと：スカウトの表示数 max, 表示順(新着順, view数順 ,おすすめ順 ...etc)
* ひとまず、クライアントid順,全部表示で実装する
* 最終編集 : 2018.7.23  edited by takuya
-->

<!--
* 未解決のバグ等
  * 画面のヘッダーが最初のトップページの状態で、メニュー画面のようなページがない
  * テーブルへレコードを格納して表示を確認していないので、テーブルの中身によってはうまく行かない可能性がある。
-->



<div class="content_container">
  <div class="detail_scout">

<br><br><br><br><br><br><br><br>

<h3> スカウト概要 </h3><br>

    <% @scouts.limit(3).each do |scout,i| %>
        <p>
          <% if scout.agreement_count == nil %>

          <h4>
            <%= @client.name %> からのスカウトです <br><br>
          </h4>
            <%= @user.last_name %>さん<br>
            <%= scout.summary %><br>

            <br>
          <% end %>
        </p>
    <% end %>

    <p>
      <%= link_to "もっと情報を見てみる" , :action => 'detail' %>
    </P>
  </div>
</div>
