<!--
* スカウトの一覧を表示するviewファイル。
* 決めなくてはいけないこと：スカウトの表示数 max, 表示順(新着順, view数順 ,おすすめ順 ...etc)
* ひとまず、クライアントid順,全部表示で実装する
* 最終編集 : 2018.7.23  edited by takuya
-->
<div class="content_upper">
  <h2>スカウト一覧</h2>
</div> <!--content_upper -->

<div class="content_container">
  <div class="detail_scout">
    <% @scout.each do |scout| %>
      <% if scout.summary? then%>
        <div class="frame_index">
          <div class="text">
            <p><%= scout.client.name %> からのスカウト</p>
            <%= link_to "#{scout.summary}",controller: 'scout_views' , action: 'detail' ,id: scout.id %>
          </div><!--text -->
        </div><!--frame_index -->
      <% end %>
    <% end %>
  </div><!--detail_scout -->
</div><!--content_container -->

<div class="menu-back">
  <%= link_to "メニューへ戻る",controller: 'user_menu' , action: 'index'%>
</div><!--menu_back -->
