<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_objecticfe.name %>
</p>

<%= link_to 'Edit', edit_job_objecticfe_path(@job_objecticfe) %> |
<%= link_to 'Back', job_objecticves_path %>
