<!--
* ユーザのメニュー画面を表示するビューファイル。
* 最低限のトップページへ戻るログアウト / 登録情報の変更 / スカウト一覧を表示 / メッセージを確認する / ユーザ設定する
* のボタンとその遷移を定義するのをここでする。それ以外のデザインとバックエンドは後ほど設計する。
-->

<div class="content_container">
  <div class="detail_scout">
  <table class="table_1">
    <tr>
    <th>会社名</th>
    <td>株式会社安達測量</td>
    </tr>
    <tr>
    <th>件名</th>
    <td>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</td>
    </tr>
  </table>
  <div class="btn-position">
    <a class="accept_btn">選考を希望する</a>
  </div>
  <div class="message-dtail">
    <p>お世話になっております、嶋﨑です。</br>
      この度はあなたをスカウトしたくメールしました。</br>
      測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</br>
      そのほかにも様々な取り組みを行なっており、必ずや成長機会へと結びつくはずです。</br>
    </p>
  </div>
  <div class="tag-detail-scout">
    <span class="tag_1">未経験者歓迎</span>
    <span class="tag_2">測量士</span>
    <span class="tag_2">測量士補</span>
    <span class="tag_2">職種人気</span>
  </div>
  <div class="btn-position">
  <a class="accept_btn">選考を希望する</a>
  </div>
</div>
</div>

<div class="content_user_top">
<div class="frame_index">
  <div class="content">
    <div class="unread_tag">
      <p>未読</p>
    </div>
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
    <p>株式会社安達測量</p>
    <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div>
<div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div>
<div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div><div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div><div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div>


</form>
</div>
