<div class="container">
 <div class="row">
     <p class="logo"><strong>
       <a href="/">
         施工ネット ユーザーメニュー
       </a>
     </strong></p>
     <ul>
       <li>スカウト</li>
       <%= link_to "スカウト", 'users/scout', class: "btn btn-lg btn-primary" %>
       <li>メッセージ</li>
       <%= link_to "メッセージ", 'users/scout/message', class: "btn btn-lg btn-primary" %>
       <li>履歴書の登録</li>
       <%= link_to "履歴書の登録", 'users/menu/career', class: "btn btn-lg btn-primary" %>
       <li>設定</li>
       <%= link_to "設定", 'users/menu/setting', class: "btn btn-lg btn-primary" %>
     </ul>
      <p class="copy">&copy;&nbsp;施工ネット</p>
 </div><!--row-->
</div><!--container-->
<div id="backtop">
</div>
