<!--
* 退会設定をするviewファイル。データベースからemployee_idに紐づく全データを削除するクエリを送れるように設定する
* 決めなくてはいけないこと：admin に通知を出すだけにして、管理者が全データを削除する操作をする業務フローにするかどうか。
　　　　　　　　　　　　　　あるいは、退会すると全データが削除されますが本当にいいですか？という確認が画面を表示させるかどうか。
                        または、パスワードによる認証を必要とするかどうか。
* ひとまず、全データをDBから削除するクエリにする。認証は一切取らない。
* 最終編集 : 2018.7.23  edited by takuya
-->

<!--
* 未解決のバグ等
  * 画面のヘッダーが最初のトップページの状態で、メニュー画面のようなページがない
-->
<%= render 'layouts/header_user' , EmployeeAccount: @employee_account %>
<div class="content_upper">
  <h3>履歴書の入力</h3>
</div>
<div class="setting-container-detail-form">
<%= render 'form' , EmployeeAccount: @employee_account %>

</div>
