
<%= render 'layouts/header_user' , User: @user %>
<div class="content_upper">
    <h3>職歴の入力</h3>
</div>
<div class="setting-container-detail-form">
    <%= render 'form' , Career: @career %>

</div>
