
<div class="content_container">
  <div class="detail_scout">
  <table class="table_1">
    <tr>
    <th>会社名</th>
    <td>株式会社安達測量</td>
    </tr>
    <tr>
    <th>件名</th>
    <td>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</td>
    </tr>
  </table>
  <div class="btn-position">
    <a class="accept_btn">選考を希望する</a>
  </div>
  <div class="message-dtail">
    <p>お世話になっております、嶋﨑です。</br>
      この度はあなたをスカウトしたくメールしました。</br>
      測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</br>
      そのほかにも様々な取り組みを行なっており、必ずや成長機会へと結びつくはずです。</br>
    </p>
  </div>
  <div class="tag-detail-scout">
    <span class="tag_1">未経験者歓迎</span>
    <span class="tag_2">測量士</span>
    <span class="tag_2">測量士補</span>
    <span class="tag_2">職種人気</span>
  </div>
  <div class="btn-position">
  <a class="accept_btn">選考を希望する</a>
  </div>
</div>
</div>

<div class="content_user_top">
<div class="frame_index">
  <div class="content">
    <div class="unread_tag">
      <p>未読</p>
    </div>
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
    <p>株式会社安達測量</p>
    <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div>
<div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div>
<div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div><div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div><div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div>

<ul class="flow_register">
  <li>基本情報</li>
  <li>希望条件</li>
  <li class="active">資格・経歴</li>
  <li >公開</li>
</ul>


<form>
  <!-- <div class="msr_text_03"> -->
  <div class="button_group">
  <div class="has-float-label_full_lg">
    <input id="eee" type="text" placeholder="山田"/>
    <label for="eee">名前</label>
    <p class="must_btton_text">必須</p>
  </div>
  </div>

  <div class="button_group">
    <a href="#" class="log_btn">ログイン</a>
    <!-- 永田追加 -->
    <%= link_to "Sign up", 'users/sign_up', class: "btn btn-lg btn-primary" %>
    <!-- ここまで -->
  <div class="has-float-label_full_sm">
    <input id="ddd" type="text" placeholder="example@gmail.com"/>
    <label for="ddd">メールアドレス</label>
    <p class="must_btton_text">必須</p>
  </div>
  </div>

    <div class="button_group">
    <div class="has-float-label_full_2col">
      <input id="fff" type="text" placeholder="数字4列"/>
      <label for="fff">password</label>
      <p class="must_btton_text">必須</p>
    </div>
  </div>

  <div class="button_group">
    <div class="has-float-label_full_2col">
      <input id="first" type="text" placeholder="Surname"/>
      <label for="first">Last</label>
      <p class="must_btton_text">必須</p>
    </div>
  </div>
  <!-- <div class="has-float-label">
    <input type="text" placeholder="山田"/>
    <label>職業先</label>
  </div> -->
  <!-- </div> -->

  <div class="over_text_col">
      <p class="must_btton_over_text">必須</p>
      <p>Pulldown</p>
      <select>
        <option value="">選択してください</option>
        <option value="test1">test1</option>
        <option value="test2">test2</option>
        <option value="test3">test3</option>
        <option value="test4">test4</option>
        <option value="test5">test5</option>
      </select>
  </div>


  <!-- html -->
<div class="checkbox_col">
  <p class="must_btton_check">必須</p>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェック </span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェッ</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェック</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェックボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
</div>


</form>
</div>
