<%= provide(:title, 'SekouAPP') %>
<div class="content_upper">
  <h3>企業メニューページ</h3>
</div>
<div class="setting-container-detail">
  <div class="setting-container">
    <ul>
      <li><%= link_to 'スカウトの送付・管理', scout_manage_path %></li>
      <li><%= link_to '企業情報の確認・編集', coinfo_path %></li>
      <li><%= link_to '設定ページ', client_setting_url %></li>
    </ul>
  </div>
</div>
