<div class="content_upper">
    <h3>履歴書の入力</h3>
</div>
<div class="setting-container-detail-form">
    <%= render 'form' , User: @user %>
</div>
<div class="menu-back">
  <%= link_to "履歴書ページへ戻る" , :action => 'index' %>
</div>
