<div class="content_upper">
  <h2>求職者を探す</h2>
</div> <!--content_upper -->
<div class="content_container">
  <div class="search-box">
    <table class="table_1">
      <tr>
      <th>年齢</th>
      <td>
        <div class="over_text_col">
          <select>
            <option value="test1"></option>
            <option value="test1">test1</option>
            <option value="test2">test2</option>
            <option value="test3">test3</option>
            <option value="test4">test4</option>
            <option value="test5">test5</option>
          </select>
        </div>
      <p class="ndash">〜</p>
      <div class="over_text_col">
          <select>
            <option value="test1"></option>
            <option value="test1">test1</option>
            <option value="test2">test2</option>
            <option value="test3">test3</option>
            <option value="test4">test4</option>
            <option value="test5">test5</option>
          </select>
      </div>
    </td>
      </tr>
      <tr>
      <th>希望年収</th>
      <td>
        <div class="over_text_col">
            <select>
              <option value="test1"></option>
              <option value="test1">test1</option>
              <option value="test2">test2</option>
              <option value="test3">test3</option>
              <option value="test4">test4</option>
              <option value="test5">test5</option>
            </select>
        </div>
        <p class="ndash">〜</p>
        <div class="over_text_col">
            <select>
              <option value="test1"></option>
              <option value="test1">test1</option>
              <option value="test2">test2</option>
              <option value="test3">test3</option>
              <option value="test4">test4</option>
              <option value="test5">test5</option>
            </select>
        </div>
      </td>
      </tr>
      <tr>
        <th>希望職種</th>
        <td>
          <div class="checkbox_col">
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">測量士</span>
            </label>
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">測量士補</span>
            </label>
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">設計士</span>
            </label>
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">CAP<br>オペレーター</span>
            </label>
          </div> <!--checkbox_col -->
          <div class="checkbox_col">
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">施工管理</span>
            </label>
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">積算</span>
            </label>
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">営業</span>
            </label>
          </div> <!--checkbox_col -->
        </td>
      </tr>
      <tr>
        <th>希望雇用形態</th>
        <td>
          <div class="checkbox_col">
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">正社員</span>
            </label>
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">契約社員</span>
            </label>
            <label class="labeltag">
              <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
              <span class="checkbox01-parts">アルバイト・パート</span>
            </label>
          </div> <!--checkbox_col -->
        </td>
      </tr>
      <tr>
        <th>資格有無</th>
        <td>
          <div class="radio02">
          <input type="radio" name="radio02" class="radio02-input" id="radio02-01">
          <label for="radio02-01">ラジオ01</label>
          <input type="radio" name="radio02" class="radio02-input" id="radio02-02">
          <label for="radio02-02">ラジオ02</label>
        </div>
        </td>
      </tr>
    </table>
  </div> <!--search-box -->
  <div class="button_group">
    <a href="#" class="search_btn">検索</a>
  </div> <!--button_group -->
  <div class="search-result">
    <h2>113件</h2>
  </div><!--search-result -->
  <div class="search-index-box">
      <div class="frame_index">
        <div class="content">
          <div class="frame-head">
            <p>ID:９９３さん</p>
          </div><!--frame-head -->
          <div class="frame-middle1">
            <div class="left-character">
              <ul>
                <li>男性</li>
                <li>35才</li>
                <li>希望年収500万円以上</li>
              </ul>
            </div>
            <div class="right-character">
              <div class="tag-3">
                <p>資格あり</p>
              </div>
            </div>
          </div><!--frame-middle1 -->
          <div class="frame-middle2">
            <div class="tag">
              <span class="tag-4">正社員</span>
              <span class="tag-4">契約社員</span>
            </div>
          </div><!--frame-middle2 -->
          <div class="frame-bottom">
            <div class="tag">
              <span class="tag_2">測量士</span>
              <span class="tag_2">測量士補</span>
            </div>
          </div><!--frame-bottom -->
        </div><!--content -->
      </div><!--frame_index -->
      <div class="frame_index">
        <div class="content">
          <div class="frame-head">
            <p>ID:９９３さん</p>
          </div><!--frame-head -->
          <div class="frame-middle1">
            <div class="left-character">
              <ul>
                <li>男性</li>
                <li>35才</li>
                <li>希望年収500万円以上</li>
              </ul>
            </div>
            <div class="right-character">
              <div class="tag-3">
                <p>資格あり</p>
              </div>
            </div>
          </div><!--frame-middle1 -->
          <div class="frame-middle2">
            <div class="tag">
              <span class="tag-4">正社員</span>
              <span class="tag-4">アルバイト・パート</span>
            </div>
          </div><!--frame-middle2 -->
          <div class="frame-bottom">
            <div class="tag">
              <span class="tag_2">CAD・オペレーター</span>
              <span class="tag_2">設計士</span>
            </div>
          </div><!--frame-bottom -->
        </div><!--content -->
      </div><!--frame_index -->
      <div class="frame_index">
        <div class="content">
          <div class="frame-head">
            <p>ID:９９３さん</p>
          </div><!--frame-head -->
          <div class="frame-middle1">
            <div class="left-character">
              <ul>
                <li>男性</li>
                <li>35才</li>
                <li>希望年収500万円以上</li>
              </ul>
            </div>
            <div class="right-character">
              <div class="tag-3">
                <p>資格あり</p>
              </div>
            </div>
          </div><!--frame-middle1 -->
          <div class="frame-middle2">
            <div class="tag">
              <span class="tag-4">正社員</span>
              <span class="tag-4">アルバイト・パート</span>
            </div>
          </div><!--frame-middle2 -->
          <div class="frame-bottom">
            <div class="tag">
              <span class="tag_2">測量士</span>
              <span class="tag_2">測量士補</span>
              <span class="tag_2">施工管理</span>
            </div>
          </div><!--frame-bottom -->
        </div><!--content -->
      </div><!--frame_index -->
      <div class="pagination-wrapper">
        <div class="pagination-orgin">
          <a class="prev page-numbers" href="javascript:;">prev</a>
          <span aria-current="page" class="page-numbers current">1</span>
          <a class="page-numbers" href="javascript:;">2</a>
          <a class="page-numbers" href="javascript:;">3</a>
          <a class="page-numbers" href="javascript:;">4</a>
          <a class="page-numbers" href="javascript:;">5</a>
          <a class="page-numbers" href="javascript:;">6</a>
          <a class="page-numbers" href="javascript:;">7</a>
          <a class="page-numbers" href="javascript:;">8</a>
          <a class="page-numbers" href="javascript:;">9</a>
          <a class="page-numbers" href="javascript:;">10</a>
          <a class="next page-numbers" href="javascript:;">next</a>
        </div>
      </div>
  </div><!--search-index-box -->
</div> <!--content_container -->
