<div class="content_container">
  <div class="user-detail">
    <div class="detail-head">
      <div class="user-name">
        <h3>ID933さん</h3>
      </div><!--user-name -->
      <div class="left-character">
        <ul>
          <li>男性</li>
          <li>35才</li>
          <li>希望年収500万円以上</li>
        </ul>
      </div><!--left-character -->

      <div class="btns-scout-clip">
        <a href="#" class="scout-btn">スカウトを送る</a>
        <a href="#" class="clip-btn">クリップ</a>
      </div><!--btn-scout-clip -->
    </div><!--detail-head -->

    <div class="detail-middle">
      <div class="display-conditions">
        <div class="display-title">
          <h3>希望条件</h3>
        </div><!--display-title -->
        <div class="display-detail">
          <div class="dis-condisons-detail">
            <table class="table_1">
              <tr>
              <th>希望年収</th>
              <td><p>500万円〜700万円</p></td>
              </tr>
              <tr>
              <th>希望雇用形態</th>
              <td>
                <ul>
                  <li>正社員</li>
                  <li>アルバイト・パート</li>
                  <li>契約社員</li>
                </ul>
              </td>
              </tr>
              <tr>
              <th>希望職種</th>
              <td>
                <ul>
                  <li>測量士</li>
                  <li>測量士補</li>
                  <li>設計士</li>
                  <li>CADオペレーター</li>
                </ul>
              </td>
              </tr>
            </table><!--table -->
          </div><!--dis-condisons-detail -->
        </div><!--display-detail -->
      </div><!--display-conditions -->

      <div class="display-certifications">
        <div class="display-title">
          <h3>保有資格</h3>
        </div><!--display-title -->
        <div class="display-detail">
          <div class="dis-certifications-detail">
            <table class="table_1">
              <tr>
              <th>保有資格</th>
              <td>
                <ul>
                  <li>施工管理技師</li>
                  <li>国家資格測量士資格</li>
                  <li>CADオペレーター2級</li>
                  <li>1級建築士</li>
                  <li>ドローン操作取り扱い</li>
                </ul>
              </td>
              </tr>
            </table><!--table -->
          </div><!--dis-certifications-detail -->
        </div><!--display-detail -->
      </div><!--display-certifications -->

      <div class="display-careers">
        <div class="display-title">
          <h3>経歴</h3>
        </div><!--display-title -->
        <div class="display-detail">
          <div class="dis-careers-detail">
            <div class="career-containers">
              <div class="career-title">
                <p>経歴1</p>
              </div><!--career-title -->
              <div class="career-table">
                <table class="table_1">
                  <tr>
                  <th>会社名</th>
                  <td>
                    <ul>
                      <li>安達測量株式会社</li>
                    </ul>
                  </td>
                  </tr>
                  <tr>
                  <th>就労期間</th>
                  <td>
                    <ul>
                      <li>2018年1月〜2018年6月</li>
                    </ul>
                  </td>
                  </tr>
                  <tr>
                  <th>雇用形態</th>
                  <td>
                    <ul>
                      <li>正社員</li>
                    </ul>
                  </td>
                  </tr>
                  <tr>
                  <th>業務内容</th>
                  <td>
                    <ul>
                      <li>プレイングマネージャーとして10人のマネジメントと共に測量現場管理も行なっておりました。</li>
                    </ul>
                  </td>
                  </tr>
                </table><!--table_1 -->
              </div><!--career table -->
            </div><!--career-countainers -->
            <div class="career-containers">
              <div class="career-title">
                <p>経歴2</p>
              </div><!--career-title -->
              <div class="career-table">
                <table class="table_1">
                  <tr>
                  <th>会社名</th>
                  <td>
                    <ul>
                      <li>添田株式会社</li>
                    </ul>
                  </td>
                  </tr>
                  <tr>
                  <th>就労期間</th>
                  <td>
                    <ul>
                      <li>2017年1月〜2017年12月</li>
                    </ul>
                  </td>
                  </tr>
                  <tr>
                  <th>雇用形態</th>
                  <td>
                    <ul>
                      <li>アルバイト・パート</li>
                    </ul>
                  </td>
                  </tr>
                  <tr>
                  <th>業務内容</th>
                  <td>
                    <ul>
                      <li>測量士補として現場労働を行なっておりました。</li>
                    </ul>
                  </td>
                  </tr>
                </table><!--table_1 -->
              </div><!--career table -->
            </div><!--career-countainers -->
          </div><!--dis-careers-detail -->
        </div><!--display-detail -->
      </div><!--display-careers -->

      <div class="display-educations">
        <div class="display-title">
          <h3>最終学歴</h3>
        </div><!--display-title -->
        <div class="display-detail">
          <div class="dis-educations-detail">
            <table class="table_1">
              <tr>
              <th>学校名</th>
              <td>
                <ul>
                  <li>千葉大学</li>
                </ul>
              </td>
              </tr>
              <tr>
              <th>卒業学部・学科</th>
              <td>
                <ul>
                  <li>理工学部建築学科</li>
                </ul>
              </td>
              </tr>
              <tr>
              <th>卒業年</th>
              <td>
                <ul>
                  <li>2008年3月</li>
                </ul>
              </td>
              </tr>
            </table><!--table_1 -->
          </div><!--dis-educations-detail -->
        </div><!--display-detail -->
      </div><!--display-educations -->

    </div><!--detail-middle -->

    <div class="detail-bottom-btn">
      <div class="btns-scout-clip">
        <a href="#" class="scout-btn">スカウトを送る</a>
        <a href="#" class="clip-btn">クリップ</a>
      </div><!--btn-scout-clip -->
    </div><!--detail-bottom-btn -->

  </div><!--user-detail -->
</div><!--content_container -->
