<div class="content_upper">
  <h2>スカウトを送付する</h2>
</div> <!--content_upper -->
<div class="content_container">
  <div class="first-scout-detail">
    <div class="detail-head">
      <div class="user-name">
        <h3>ID933さん</h3>
      </div><!--user-name -->
      <div class="left-character">
        <ul>
          <li>男性</li>
          <li>35才</li>
          <li>希望年収500万円以上</li>
        </ul>
      </div><!--left-character -->
    </div><!--detail-head -->

    <div class="detail-middle">
      <div class="scout-summary">
        <div class="display-title">
          <h3>提示条件</h3>
        </div><!--display-title -->
        <div class="display-detail">
          <table class="table-2">
            <tr>
            <th>提示年収</th>
            <td>
              <ul>
                <li>
                  <input id="ddd" type="text" placeholder=""/>
                </li>
                <li class="ndash">〜</li>
                <li>
                  <input id="ddd" type="text" placeholder=""/>
                </li>
              </ul>
            </td>
            </tr>
            <tr>
              <th>提示職種</th>
              <td>
                <div class="checkbox_col">
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">測量士</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">測量士補</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">設計士</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">CAP<br>オペレーター</span>
                  </label>
                </div> <!--checkbox_col -->
                <div class="checkbox_col">
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">施工管理</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">積算</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">営業</span>
                  </label>
                </div> <!--checkbox_col -->
              </td>
            </tr>
            <tr>
              <th>提示雇用形態</th>
              <td>
                <div class="checkbox_col">
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">正社員</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">契約社員</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">アルバイト・パート</span>
                  </label>
                </div> <!--checkbox_col -->
              </td>
            </tr>
          </table>
        </div><!--display-detail -->
      </div><!--scout-summary -->

      <div class="scout-message">
        <div class="display-title">
          <h3>スカウトメッセージ</h3>
        </div><!--display-title -->
        <div class="display-detail">
          <div class="scout-message-head">
            <p>提示年収の内訳は出来る限り明記して下さい（年俸制／みなし残業代を含む等）。なお、提示年収は、あくまで現時点でのものであり、入社時の年収を約束するものではありません。スカウトミーは、ダイレクトリクルーテ ィング・サービスであり、以降の採用過程に関わる年収交渉、スキル査定等には一切関与いたしません。採用企業と求職者双方におかれまして、ビジネスルールに則った真摯な話し合いがなされることを期待しております。</p>
            <p>その他、以下も出来る限り明記して下さい。</p>
            <ul>
              <li>始業・終業時刻（時間外労働時間）、休憩時間及び休日</li>
              <li>社会保険の適用有無</li>
              <li>正社員以外の場合は労働契約期間</li>
            </ul>
          </div><!--scout-message-head -->
          <div class="scout-message-detail">
            <input id="ddd" type="textarea" placeholder=""/>
          </div><!--scout-message-detail -->
          <div class="scout-message-bottom">
            <div class="scout-message-save">
              <div class="save-check-btn">
                <input type="checkbox" name="" value="" />
                <label for="checkbox01" class="checkbox">このメッセージをテンプレートとして保存する</label>
              </div><!--save-check-btn -->
            </div><!--scout-message-save -->
            <div class="scout-message-btn">
              <a class="send-message-btn">
                  スカウトを送付する
              </a><!--send-message-btn -->
            </div><!--scout-message-btn -->
          </div><!--scout-message-bottom -->
        </div><!--display-detail -->
      </div><!--scout-message -->

    </div><!--detail-middle -->

  </div> <!--first-scout-detail -->
</div> <!--content_container -->
