<div class="content_upper">
  <h2>スカウトを送付する</h2>
</div> <!--content_upper -->
<div class="content_container">
  <div class="first-scout-detail">
    <div class="detail-head">
      <div class="user-name">
        <h3>ID933さん</h3>
      </div><!--user-name -->
      <div class="left-character">
        <ul>
          <li>男性</li>
          <li>35才</li>
          <li>希望年収500万円以上</li>
        </ul>
      </div><!--left-character -->
    </div><!--detail-head -->

    <div class="detail-middle">
      <div class="scout-summary">
        <div class="display-title">
          <h3>提示条件</h3>
        </div><!--display-title -->
        <div class="display-detail">
          <table class="table-2">
            <tr>
            <th>提示年収</th>
            <td>
              <ul>
                <li>
                  <input id="ddd" type="text" placeholder=""/>
                </li>
                <li class="ndash">〜</li>
                <li>
                  <input id="ddd" type="text" placeholder=""/>
                </li>
              </ul>
            </td>
            </tr>
            <tr>
              <th>提示職種</th>
              <td>
                <div class="checkbox_col">
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">測量士</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">測量士補</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">設計士</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">CAP<br>オペレーター</span>
                  </label>
                </div> <!--checkbox_col -->
                <div class="checkbox_col">
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">施工管理</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">積算</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">営業</span>
                  </label>
                </div> <!--checkbox_col -->
              </td>
            </tr>
            <tr>
              <th>提示雇用形態</th>
              <td>
                <div class="checkbox_col">
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">正社員</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">契約社員</span>
                  </label>
                  <label class="labeltag">
                    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                    <span class="checkbox01-parts">アルバイト・パート</span>
                  </label>
                </div> <!--checkbox_col -->
              </td>
            </tr>
          </table>
        </div><!--display-detail -->
      </div><!--scout-summary -->

      <div class="scout-message">
        <div class="display-title">
          <h3>スカウトメッセージ</h3>
        </div><!--display-title -->
        <div class="display-detail">
          <div class="scout-message-head">
            <p>提示年収の内訳は出来る限り明記して下さい（年俸制／みなし残業代を含む等）。なお、提示年収は、あくまで現時点でのものであり、入社時の年収を約束するものではありません。スカウトミーは、ダイレクトリクルーテ ィング・サービスであり、以降の採用過程に関わる年収交渉、スキル査定等には一切関与いたしません。採用企業と求職者双方におかれまして、ビジネスルールに則った真摯な話し合いがなされることを期待しております。</p>
            <p>その他、以下も出来る限り明記して下さい。</p>
            <ul>
              <li>始業・終業時刻（時間外労働時間）、休憩時間及び休日</li>
              <li>社会保険の適用有無</li>
              <li>正社員以外の場合は労働契約期間</li>
            </ul>
          </div><!--scout-message-head -->
          <div class="scout-message-detail">
            <input id="ddd" type="textarea" placeholder=""/>
          </div><!--scout-message-detail -->
          <div class="scout-message-bottom">
            <div class="scout-message-save">
              <div class="save-check-btn">
                <input type="checkbox" name="" value="" />
                <label for="checkbox01" class="checkbox">このメッセージをテンプレートとして保存する</label>
              </div><!--save-check-btn -->
            </div><!--scout-message-save -->
            <div class="scout-message-btn">
              <a class="send-message-btn">
                  スカウトを送付する
              </a><!--send-message-btn -->
            </div><!--scout-message-btn -->
          </div><!--scout-message-bottom -->
        </div><!--display-detail -->
      </div><!--scout-message -->

    </div><!--detail-middle -->

  </div> <!--first-scout-detail -->
</div> <!--content_container -->

<div class="content_container">
  <div class="detail_scout">
  <table class="table_1">
    <tr>
    <th>会社名</th>
    <td>株式会社安達測量</td>
    </tr>
    <tr>
    <th>件名</th>
    <td>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</td>
    </tr>
  </table>
  <div class="btn-position">
    <a class="accept_btn">選考を希望する</a>
  </div>
  <div class="message-dtail">
    <p>お世話になっております、嶋﨑です。</br>
      この度はあなたをスカウトしたくメールしました。</br>
      測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</br>
      そのほかにも様々な取り組みを行なっており、必ずや成長機会へと結びつくはずです。</br>
    </p>
  </div>
  <div class="tag-detail-scout">
    <span class="tag_1">未経験者歓迎</span>
    <span class="tag_2">測量士</span>
    <span class="tag_2">測量士補</span>
    <span class="tag_2">職種人気</span>
  </div>
  <div class="btn-position">
  <a class="accept_btn">選考を希望する</a>
  </div>
</div>
</div>

<div class="content_user_top">
<div class="frame_index">
  <div class="content">
    <div class="unread_tag">
      <p>未読</p>
    </div>
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
    <p>株式会社安達測量</p>
    <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div>
<div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div>
<div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div><div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div><div class="frame_index">
  <div class="content">
    <div class="tag">
      <span class="tag_1">未経験者歓迎</span>
      <span class="tag_2">測量士</span>
      <span class="tag_2">測量士補</span>
      <span class="tag_2">職種人気</span>
    </div>
    <div class="text">
      <p>株式会社安達測量</p>
      <a><p>測量のことなら安達測量へ。未経験者歓迎。ドローンの扱いなど最先端の技術も扱っているので今後のキャリアにもなる。</p></a>
    </div>
  </div>
</div>

<ul class="flow_register">
  <li>基本情報</li>
  <li>希望条件</li>
  <li class="active">資格・経歴</li>
  <li >公開</li>
</ul>


<form>
  <!-- <div class="msr_text_03"> -->
  <div class="button_group">
  <div class="has-float-label_full_lg">
    <input id="eee" type="text" placeholder="山田"/>
    <label for="eee">名前</label>
    <p class="must_btton_text">必須</p>
  </div>
  </div>

  <div class="button_group">
    <a href="/users/sign_in" class="log_btn">ログイン</a>
  <div class="has-float-label_full_sm">
    <input id="ddd" type="text" placeholder="example@gmail.com"/>
    <label for="ddd">メールアドレス</label>
    <p class="must_btton_text">必須</p>
  </div>
  </div>

    <div class="button_group">
    <div class="has-float-label_full_2col">
      <input id="fff" type="text" placeholder="数字4列"/>
      <label for="fff">password</label>
      <p class="must_btton_text">必須</p>
    </div>
  </div>

  <div class="button_group">
    <div class="has-float-label_full_2col">
      <input id="first" type="text" placeholder="Surname"/>
      <label for="first">Last</label>
      <p class="must_btton_text">必須</p>
    </div>
  </div>
  <!-- <div class="has-float-label">
    <input type="text" placeholder="山田"/>
    <label>職業先</label>
  </div> -->
  <!-- </div> -->

  <div class="over_text_col">
      <p class="must_btton_over_text">必須</p>
      <p>Pulldown</p>
      <select>
        <option value="">選択してください</option>
        <option value="test1">test1</option>
        <option value="test2">test2</option>
        <option value="test3">test3</option>
        <option value="test4">test4</option>
        <option value="test5">test5</option>
      </select>
  </div>


  <!-- html -->
<div class="checkbox_col">
  <p class="must_btton_check">必須</p>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェック </span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェッ</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェック</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェックボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
</div>


</form>
</div>
