<!-- とりあえず、コメントアウトしておく。クライアントのsign upに関するボタン

<%= link_to "Client Sign up", 'clients/sign_up', class: "btn btn-lg btn-primary" %>

-->
<!-- トップ画像はguideボタン以外は貼り付け　後日リファクタリング

-->


<div class="full_container">
  <div class="pc-main-visual" style= "background-image:url(<%= asset_path "bg-main-visual-pc.jpg"%>)">
    <a href="/" class="top-guide-message-btn">まずはカンタン無料登録！</a>
  </div>
  <div class="sp-main-visual" style= "background-image:url(<%= asset_path "bg-main-visual-sp.jpg"%>)">
    <a href="/" class="top-guide-message-btn">まずはカンタン無料登録！</a>
  </div>
</div><!--full-container -->
