<div class="container">
<h1> こちらは、施工ネット.comのトップページです </h1>
<%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
<a> こちらは、施工ネット.comのトップページです </a>
<h1> こちらは、施工ネット.comのトップページです </h1>
<%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
<a> こちらは、施工ネット.comのトップページです </a>
<h1> こちらは、施工ネット.comのトップページです </h1>
<%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
<a> こちらは、施工ネット.comのトップページです </a>

<form>
  <!-- <div class="msr_text_03"> -->
  <div class="has-float-label_full_lg">
    <input id="eee" type="text" placeholder="山田"/>
    <label for="eee">名前</label>
  </div>

  <div class="has-float-label_full_sm">
    <input id="ddd" type="text" placeholder="example@gmail.com"/>
    <label for="ddd">メールアドレス</label>
  </div>

    <div class="has-float-label_full_2col">
      <input id="fff" type="text" placeholder="数字4列"/>
      <label for="fff">password</label>
    </div>

    <div class="has-float-label_full_2col">
      <input id="first" type="text" placeholder="Surname"/>
      <label for="first">Last</label>
    </div>
  <!-- <div class="has-float-label">
    <input type="text" placeholder="山田"/>
    <label>職業先</label>
  </div> -->
  <!-- </div> -->

  <!-- html -->
<div class="checkbox_col">
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェック </span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェッ</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェック</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">チェックボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
  <label class="labeltag">
    <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
    <span class="checkbox01-parts">ボックス03</span>
  </label>
</div>





</form>
</div>
