<div class="full_container">
  <div class="flexbox">
      <div class="side-parts">
        <div class="messages_header">
          <div class="tabs">
            <input id="all" type="radio" name="tab_item" checked>
            <label class="tab_item" for="all">総合</label>
            <input id="programming" type="radio" name="tab_item">
            <label class="tab_item" for="programming">プログラミング</label>
            <input id="design" type="radio" name="tab_item">
            <label class="tab_item" for="design">デザイン</label>
            <div class="tab_content" id="all_content">
            <div class="tab_content_description">
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            <p class="c-txtsp">総合の内容がここに入ります</p>
            
            </div>
            </div>
            <div class="tab_content" id="programming_content">
            <div class="tab_content_description">
            <p class="c-txtsp">プログラミングの内容がここに入ります</p>
            </div>
            </div>
            <div class="tab_content" id="design_content">
            <div class="tab_content_description">
            <p class="c-txtsp">デザインの内容がここに入ります</p>
            </div>
            </div>
            </div>
        </div> <!-- message-header -->
      </div> <!--side-parts -->
      <div class="main-parts">
        <div class="messages_header">
          <p>aaaaa</p>
        </div> <!--messages-header -->
      </div> <!--main-parts -->
  </div> <!--flexbox -->
</div> <!--full_container -->
