<div class="full_container">
  <div class="flexbox">
      <div class="side-parts">
        <div class="messages_header">
          <div class="messages_tabs">
            <input id="all" type="radio" name="tab_item" checked>
            <label class="tab_item" for="all">すべて</label>
            <input id="unread" type="radio" name="tab_item">
            <label class="tab_item" for="unread">未読</label>
            <div class="tab_content" id="all_content">
            <div class="tab_content_description">
              <div class="messages_subject">
                <input id="sub1" type="radio" name="tab_sub" checked>
                <label class="tab_sub" for="sub1">株式会社安達測量</label>
              </div>
              <div class="messages_subject">
                <input id="sub2" type="radio" name="tab_sub" checked>
                <label class="tab_sub" for="sub2">株式会社アジア航測</label>
              </div>
              <div class="messages_subject">
                <input id="sub3" type="radio" name="tab_sub" checked>
                <label class="tab_sub" for="sub3">株式会社MAX測量</label>
              </div>
              <div class="messages_subject">
                <input id="sub4" type="radio" name="tab_sub" checked>
                <label class="tab_sub" for="sub4">株式会社自由測量</label>
              </div>
              <div class="messages_subject">
                <input id="sub5" type="radio" name="tab_sub" checked>
                <label class="tab_sub" for="sub5">株式会社アメリカ測量</label>
              </div>
              <div class="messages_subject">
                <input id="sub6" type="radio" name="tab_sub" checked>
                <label class="tab_sub" for="sub6">株式会社フランス測量</label>
              </div>
              <div class="messages_subject">
                <input id="sub7" type="radio" name="tab_sub" checked>
                <label class="tab_sub" for="sub7">株式会社中央測量</label>
              </div>
            </div>
            </div>
            <div class="tab_content" id="unread_content">
            <div class="tab_content_description">
            <p class="c-txtsp">プログラミングの内容がここに入ります</p>
            </div>
            </div>
            </div>
        </div> <!-- message-header -->
      </div> <!--side-parts -->
      <div class="main-parts">
        <div class="messages_header">
          <div class="messege-detail-head">
            <p>株式会社安達測量</p>
          </div><!--messages-detaile-head -->
        </div> <!--messages-header -->
        <div class="message-container-box">
          <div class="message-container">
              <div class="message-container-head">
                <div class="send-subject">
                  <p>株式会社安達測量</p>
                </div> <!--send-subject -->
                <div class="send-time">
                  <p>2018年7月15日23:00</p>
                </div> <!--send-time -->
              </div> <!--message-container-head -->
              <div class="message-text">
                <p>ああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
              </div> <!--message-text -->
          </div> <!--message-container -->
          <div class="message-container">
              <div class="message-container-head">
                <div class="send-subject">
                  <p>株式会社安達測量</p>
                </div> <!--send-subject -->
                <div class="send-time">
                  <p>2018年7月15日23:00</p>
                </div> <!--send-time -->
              </div> <!--message-container-head -->
              <div class="message-text">
                <p>ああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
              </div> <!--message-text -->
          </div> <!--message-container -->
          <div class="message-container">
              <div class="message-container-head">
                <div class="send-subject">
                  <p>株式会社安達測量</p>
                </div> <!--send-subject -->
                <div class="send-time">
                  <p>2018年7月15日23:00</p>
                </div> <!--send-time -->
              </div> <!--message-container-head -->
              <div class="message-text">
                <p>ああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
              </div> <!--message-text -->
          </div> <!--message-container -->
          <div class="message-container">
              <div class="message-container-head">
                <div class="send-subject">
                  <p>株式会社安達測量</p>
                </div> <!--send-subject -->
                <div class="send-time">
                  <p>2018年7月15日23:00</p>
                </div> <!--send-time -->
              </div> <!--message-container-head -->
              <div class="message-text">
                <p>ああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
              </div> <!--message-text -->
          </div> <!--message-container -->
          <div class="message-container">
              <div class="message-container-head">
                <div class="send-subject">
                  <p>株式会社安達測量</p>
                </div> <!--send-subject -->
                <div class="send-time">
                  <p>2018年7月15日23:00</p>
                </div> <!--send-time -->
              </div> <!--message-container-head -->
              <div class="message-text">
                <p>ああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
              </div> <!--message-text -->
          </div> <!--message-container -->
          <div class="message-container">
              <div class="message-container-head">
                <div class="send-subject">
                  <p>株式会社安達測量</p>
                </div> <!--send-subject -->
                <div class="send-time">
                  <p>2018年7月15日23:00</p>
                </div> <!--send-time -->
              </div> <!--message-container-head -->
              <div class="message-text">
                <p>ああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
              </div> <!--message-text -->
          </div> <!--message-container -->
          <div class="message-container">
              <div class="message-container-head">
                <div class="send-subject">
                  <p>株式会社安達測量</p>
                </div> <!--send-subject -->
                <div class="send-time">
                  <p>2018年7月15日23:00</p>
                </div> <!--send-time -->
              </div> <!--message-container-head -->
              <div class="message-text">
                <p>ああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
              </div> <!--message-text -->
          </div> <!--message-container -->
          <div class="message-container">
              <div class="message-container-head">
                <div class="send-subject">
                  <p>株式会社安達測量</p>
                </div> <!--send-subject -->
                <div class="send-time">
                  <p>2018年7月15日23:00</p>
                </div> <!--send-time -->
              </div> <!--message-container-head -->
              <div class="message-text">
                <p>ああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>ああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                <p>あああああああああああああああああああああああああああああああああ</p>
              </div> <!--message-text -->
          </div> <!--message-container -->
        </div> <!--message-container-box -->
        <div class="send-box">
          <div class="send-box-border">
          <div class="send-head">
            <div class="send-btn">
              <p>送信</p>
            </div><!--send-btn -->
          </div><!--send-head -->
          <div class="send-detail">
            <p>あああああああああああああああああああ</p>
          </div><!--send-detail -->
        </div><!--send-box-border -->
        </div><!--send-box -->
      </div> <!--main-parts -->
  </div> <!--flexbox -->
</div> <!--full_container -->
