<div class="setting-container-detail">
  <h2>ご登録ありがとうございます。</h2>
  <div class="registration-container">
  <div class="mail_text">
    <h3>今後の流れ</h3>
    <p>いただきましたメールアドレスへ認証メールを送付しております。</br>
      リンクをクリックしていただくと登録完了となります。
    </p>
  </div>
</div>
</div>
