@import "definition/base";


footer{
  position: relative;
  // height: 160px;
  padding-top: 20px;
  box-sizing: border-box;
  background: $ck;
  .container-fluid {
    margin-top: 30px;
  }
  .logo{
    width: 280px;
    float: left;
    margin-right: 60px;
    margin-bottom: 20px;
    a{
      font-size: 1.6rem;
      color: $cb;
      &:hover {
        color: $csh;
        text-decoration: none;
      }
      img{
        width: 100%;
      }
    }
  }

  ul{
    float: right;
    li{
      display: inline-block;
      margin-right: 20px;
      line-height: 62px;
      color: $cb;
      font-size: 1.2rem;
      a{
        color: $cb;
        &:hover {
          color: $csh;
          text-decoration: none;
        }
      }
    }
  }
  .copy{
    color: $cb;
    text-align: center;
    font-size: 1rem;
    clear: both;
    // padding: 8px 0;
  }

  #backtop{
    @include absPosition($top: auto, $right: 0, $bottom: 0px, $left: auto);
    height: 160px;
    overflow: hidden;
    &:hover{
      cursor: pointer;
    }
  }
}//fotter

/*sp Layout
---------------------------------------*/
@media #{$sp} {
footer{
  height: inherit;
  .logo{
    float: none;
    margin-bottom: 20px;
    margin-left: 1%;
  }
  ul{
    margin-bottom: 20px;
    float: left;
    li{
      font-size: 1.4rem;
      line-height: inherit;
      display: block;
      margin-bottom: 2%;
    }
  }

  #backtop{
    height: 100px;
    img{
      height: 100%;
    }
  }

  .copy{
    font-size: 1.2rem;
  }

}//footer
}//@media #{$sp}
