@import "definition/base";

header{
  position: relative;
  height: 80px;
  //transition:height .8s;
  background: $cb;
  //
  @include cf;
  .container{
    background: $cb;
    height: inherit;
    @media #{$desktop} {
      width: 100%;
    }
    @media #{$sm} {
      width: 100%;
    }

    .row {
    height: inherit;

    .container-fluid {
    height: inherit;
    background: $ck;

    h1{
      font-size: 1.8rem;
      position: relative;
      // top: 20px;
      float: left;
      margin-right: 32px;
      // transform: translateX(-150%);
      z-index: 100;
      width: 30%;
      color: #fff;
      font-weight: bold;
      padding: 20px;
      &.st{
        transition:transform 1s ease;
        transform: rotateX(0);
      }
      a{
        color: $cf;
        }
      }//h1

      nav {
        height: inherit;
        list-style: none;
        overflow: hidden;
        ul {
          height: 100%;
          width: 100%;
          li {
            width: 23%;
            text-align: center;
            background-color: $ck;
            float: left;
            height: inherit;
            line-height: 50px;
            margin-right: 2px;
            font-size: 1.4rem;
            display: flex;
              a {
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                padding: 20px;
                height: inherit;
              } //a
              .child {
                display: none;
                position: absolute;
                top: 400%;
                width: 23%;
              }//child

              /*設定ドロップメニューのための共通処理*/
              %inner-li {
                    right: 38%;
                    position: absolute;
                    font-size: 1.2rem;
                    height: 80%;
                    color: $cb;
                    border-top: solid black 1px;
                    width: 62%;
                    padding: 3%;
              }//inner li
              /*設定項目4つをforで回す*/
              $length:3;
              @for $i from 0 through $length {
                .inner-li_#{$i+1} {
                    @extend %inner-li;
                    top: -300+$i*80%;
                }
              }
              //inner_li 設定ドロップの共通処理

              .menu:after {
                position: absolute;
                top: 25%;
                right: 14%;
                // margin-top: auto;
                // margin-bottom: auto;
                // text-align: center;
                content: '▶︎';
                font-size: 1.0rem;
                // font-weight: bold;
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                -moz-transition: all, 0.25s, linear;
                -o-transition: all, 0.25s, linear;
                -webkit-transition: all, 0.25s, linear;
                transition: all, 0.25s, linear;
            }

              .menu.active:after {
                  -moz-transform: translate(0, 50%);
                  -ms-transform: translate(0, 50%);
                  -webkit-transform: translate(0, 50%);
                  transform: translate(0, 50%);
                  -moz-transform: rotate(-90deg);
                  -ms-transform: rotate(-90deg);
                  -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg);
              }

            }//li
          }//ul
        }//nav

      }//container-fluid
    }//row
  }//.container
}//header




/*sp Layout
---------------------------------------*/
@media #{$sp} {
header{
  height: 60px;
  .container{
    h1{
      font-size: 1rem;
      top: 8px;
      a{
        img{
          width:230px;
        }
      }
    }//h1

    .btn-mail{
      width: 40px;
      @include absPosition($top: 10px, $right: 15px, $bottom: auto, $left: auto);
      // transform: translateX(300%);
      &.st{
        transition:transform .8s ease;
        transform: rotateX(0);
      }
      img{
        border-radius: 4px;
      }
    }


  }//.container

} //header
}//@media #{$sp}
