@import "definition/base";

/*form
==============================================================================================*/
form {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

button, textarea, select{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// /*Base input*/
input{
  &[type="text"],
  &[type="password"],
  &[type="search"],
  &[type="number"],
  &[type="tel"],
  &[type="url"],
  &[type="email"]{
      border: 1px solid #D7D7D7;
      box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
      -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
      -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
      -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
      border-radius: 3px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-size: 1.4rem;
      padding: 0.5%;
      height: 5%;
      // width: 100%;
      // max-width: 460px;
  }
  &[type="submit"],&[type="reset"],&[type="button"]{
    padding:2.5%;
    background: $ck;
    color: $cb;
    height: 60px;
    @media #{$desktop} {
      height: 50px;
    }
    min-width: 50px;
    text-align: center;
  }
  &[type="image"]{
    width: 100%;
  }
  &::-webkit-input-placeholder{
    padding-top: 4px;
  }
}//input

textarea{
    padding:2.5%;
    box-sizing: border-box;
    border: 1px solid $cl;
}

select{
  width: 100%;
    padding: 1.5%;
    height: 5%;
    font-size: 1.2rem;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    @media #{$desktop} {
      height: 8%;
    }
    box-sizing: border-box;
    border: 1px solid $cl;
    background: $cb;
}

select::-ms-expand {
    display: none;
}

button{
  @extend input[type="submit"];
}

.button_group {
  position: relative;
}


/*必須ボタン 親クラス　extend 位置はそれぞれで調整*/
%must_button {
  margin: 1% 0% 0% 2%;
  font-size: 1rem;
  background: red;
  width: 30px;
  text-align: center;
  border-radius: 3px;
  color: white;
  position: absolute;
}

/*必須ボタン テキスト用*/
.must_btton_text {
  @extend %must_button;
  top: 3%;
  left: -2%;
}

/*タグ用*/
.must_btton_check {
  @extend %must_button;
  top: 10%;
  left: -1.5%;
}

/*フォーム上文字横に設置*/
.must_btton_over_text {
@extend %must_button;
  top: 9%;
  left: 9%;
}


/*入力フローティングラベル*/
/*extend用の親要素*/
%has-float-label {
  margin: 2%;
  padding: 3% 0% 0% 0%;
  @include float-label-container;

  @include float-label;

  select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  input, select {
    @include float-label-input;
    font-size: inherit;
    padding-top: 1em;
    margin-bottom: 2px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(0,0,0,.1);
    width: 100%;

    @include float-label-scaled {
      top: 2.25em;
    }

    &:focus {
      outline: none;
      border-color: $ckh;
    }
  }
}

/*1列ラージ*/
.has-float-label_full_lg {
  @extend %has-float-label;
  width: 60%;
  @media #{$sp} {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*1列スモール中央揃え ログイン*/
.has-float-label_full_sm {
  @extend %has-float-label;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  @media #{$sp} {
    width: 100%;
  }
}

/*2列並び*/
.has-float-label_full_2col {
  @extend %has-float-label;
  width: 46%;
  float: left;
}



/* css checkbox01 */
.checkbox_col {
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 6%;
}

.checkbox01-input{
  display: none;
}
.checkbox01-parts{
  position: relative;
  padding: 10% 12% 10% 21%;
  transition: .3s;
  color: #444;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: inline-block;
  line-height: 1;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
}
.checkbox01-parts::before{
  content: "";
  display: block;
  left: 9%;
  width: 10%;
  height: 25%;
  border-radius: 4px;
  border: 1px solid #aaa;
  background: #fff;
  position: absolute;
}
.checkbox01-input:checked + .checkbox01-parts{
  background: $ck;
  color: #fff;
  border: 1px solid $ck;
}
.checkbox01-input:checked + .checkbox01-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  left: 12%;
  width: 6%;
  height: 21%;
  transform: rotate(40deg);
  border-bottom: 2px solid $ck;
  border-right: 3px solid $ck;
}

.labeltag {
  width: 100%;
  margin-left: 0.5%;
  margin-right: auto;
  float: left;
  height: 50px;
}


/* css 入力フォーム上説明文字と必須ボタン */
.over_text_col {
  width: 100%;
  position: relative;
  padding-top: 2%;
  float: left;
  p {
    font-size: 1.2rem;
  }
}

/* ボタン系コンポーネント*/
/* btn親要素 構造*/
%btn_skel {
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  text-align: center;
  margin: 0.5em 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-bottom: solid 2px #627295;
  :hover {
    background: #636363;
  }
}

/* btnデフォルトカラー*/
%btn_color {
  color: $cb;
  background: $ck;/*ボタン色*/
}

/* btnサイズ*/
%btn_sm {
  width: 20%;
}

%btn_mid {
  width: 30%;
}

%btn_lar {
  width: 45%;
}

/* ログインボタン*/
.log_btn {
  @extend %btn_skel;
  @extend %btn_sm;
  @extend %btn_color;
}

/* ボタン配置*/
.btn-position {
  margin-top: 3%;
  margin-bottom: 3%;
  float: left;
  width: 100%;
}

/*フローチャート 雛形 フローに合わせてwidth調整*/
%flow_model {
  color: #000000;
  list-style: none;
  overflow: hidden;
  padding-top: 20px;
  padding-left: 0px;
  width: 100%;
  // background-color: #17619C;
  li {
    background-color: $cs3;
    line-height: 60px;
    color: $cb;
    display: block;
    float: left;
    font-size: 13px;
    min-width: 100px;
    padding: 0 10px 0 40px;
    text-align: center;
    text-decoration: none;
    &:first-child {
      padding-left: 20px;
    }//li first-child
    &:after {
      background-color: $cs3;
      border-right: 1px solid $cb;
      content: " ";
      display: block;
      height: 30px;
      margin-left: auto;
      margin-right: -30px;
      margin-top: -30px;
      position: relative;
      transform: skew(-30deg);
      -o-transform: skew(-30deg);
      -ms-transform: skew(-30deg);
      -moz-transform: skew(-30deg);
      -webkit-transform: skew(-30deg);
      width: 30px;
    }//li after
    &:before {
      background-color: $cs3;
      border-right: 1px solid $cb;
      content: " ";
      display: block;
      float: right;
      height: 30px;
      margin-bottom: -30px;
      margin-left: auto;
      margin-right: -30px;
      transform: skew(30deg);
      -o-transform: skew(30deg);
      -ms-transform: skew(30deg);
      -moz-transform: skew(30deg);
      -webkit-transform: skew(30deg);
      width: 30px;
    }//li before
  }//li
  .active {
    background-color: $cs4;
    color: $cb;
    &:after {
      background-color: $cs4;
    }
    &:before {
      background-color: $cs4;
    }
  }//active
}//flow_model

/*本登録フロー*/
.flow_register {
  @extend %flow_model;
  li {
    width: 25%;
  }
}

/*フレーム系モジュール*/
/*横枠*/
/* frame 親要素 構造*/
%frame_skel {
  float: left;
  border-bottom:1px solid rgba(0,0,0,.1);
  width: 100%;
  .content {
    padding: 2%;
  }//.content
  a {
    width: 100%;
    text-decoration: underline;
  }//a
  p {
    padding: 0.3% 0.7%;
  }
  .text {
    float: left;
  }
}

/* frame 親要素　カラー*/
%frame_color {
  background: $cb;
  &:hover {
    background: $csh2;
  }//:hover
}

/* ユーザースカウト一覧*/
.frame_index {
  @extend %frame_skel;
  @extend %frame_color;
  .unread_tag {
    padding: 0.5% 0.7%;
    width: 6%;
    float: left;
    margin-right: 5%;
  }
}


/* tag系のコンポーネント ============*/
/* tag */
.tag {
  display: flex;
  float: left;
  width: 50%;
  height: 10%;
}

/* tag span*/
%tag_model {
  padding: 1.2% 0.7%;
  font-size: 1rem;
  border-radius: 34px;
  height: 10%;
  margin: 0.5%;
  box-shadow: 0.5px 0.5px 1px #bfbfbf
}

/* tag 種別カラーごと------*/
/* 特徴tag*/
.tag_1{
  @extend %tag_model;
  background: #9efb9f;
}
.tag_2{
  @extend %tag_model;
  background: #fbad9e;
}

/* 未読tag*/
.unread_tag{
  @extend %tag_model;
  border-radius: 5px;
  color: white;
  background: #a8a9ab;
  text-align: center;
  @include shadow;
  p {
    margin-bottom: 0px;
  }
}

/*----------------------------------------------------
table コンポーネント
----------------------------------------------------*/
/* table構造系　table ============*/
%table_skel {
  width: 100%;
  box-shadow: 0px 0px 2px #bfbfbf;
  th,td {
    padding: 10px;
    border: 1px solid #ddd;
  }
}

/* tableカラー系　table ============*/
%table_col  {
  th{
    background: #f4f4f4;
  }
  td {
    background: $cb;
  }
}

/*----------------------------------------------------
ページネーション コンポーネント
----------------------------------------------------*/

/* ページネーション*/
// Colors
$white: #fff;
$black: #000;
$grey: #595959;
$grey-dark: #2b2b2b;
$grey-light: #eee;
$green: #86c023;
$blue: #017ac7;

// Transition
$duration: 400ms;
$easing: ease;

//----------  pagination
//------------------------------------------------------------------------------
.pagination-wrapper {
  text-align: center;
}

.pagination-orgin {
    display: inline-block;
    height: 70px;
    margin: 6%;
    width: 80%;
    padding: 0 25px;
    border-radius: 35px;
    background-color: $grey-light;
    @media #{$sp} {
      width: 56%;
    }
    // @include breakpoint(1199px) {
    //     height: 50px;
    //     margin-top: 7%;
    //     padding: 0 10px;
    //     border-radius: 25px;
    // }
}

.page-numbers {
    display: block;
    padding: 0 3%;
    float: left;
    transition: $duration $easing;
    color: $grey;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    line-height: 70px;

    &:hover,
    &.current {
        background-color: $ck;
        color: $white;
    }

    &.prev:hover,
    &.next:hover {
        background-color: transparent;
    color: $ck;
    }

    // @include breakpoint(1199px) {
    //     padding: 0 15px;
    //     font-size: 16px;
    //     line-height: 50px;
    // }

    @include breakpoint(touch) {
        padding: 0 14px;
        display: none;

        &:nth-of-type(2) {
            position: relative;
            padding-right: 50px;

            &::after {
                content: '...';
                position: absolute;
                font-size: 25px;
                top: 0;
                left: 45px;
            }
        }

        &:nth-child(-n+3),
        &:nth-last-child(-n+3) {
            display: block;
        }

        &:nth-last-child(-n+4) {
            padding-right: 14px;

            &::after {
                content: none;
            }
        }
    }
}

//detail内の各コンテナをクラス化
%display-container {
  margin: 2%;
  background: $cs5;
  padding: 2%;
  @include cf;
  @include shadow;
  .display-title {
    border-bottom: 1px solid gray;
    margin: 1%;
    float: left;
    width: 100%;
    h3 {
      font-size: 1.8rem;
    }
  }//display-title
  .display-detail {
    margin: 1%;
    float: left;
    width: 100%;
  }//display-detail
}//display-container

//radioボタン
/*css radio02*/
.radio02 {
  font-size: 1rem;
}
.radio02-input{
  display: none;
}
.radio02-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.radio02-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.radio02-input:checked + label{
  color: $ck;
}
.radio02-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: $ck;
  border-radius: 50%;
}

/* テーブル  table============*/
.table_1 {
  @extend %table_skel;
  @extend %table_col;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 2%;
  width: 90%;
  th  {
    width: 30%;
    text-align: left;
  }//th
  @media #{$sp} {
     th,td{
      width: 100%;
      display: block;
      border-top: none;
    }//th,td sp
  }//sp
}//table_1

/* faq============*/
.display-faq {
  @extend %display-container;
  .display-detail {
    h3 {
      width: 96%;
      border-bottom: 1px solid #b9b9b9;
      font-size: 1.8rem;
      padding-bottom: 1.5%;
    }
    p {
      font-type: bold;
    }
    dl {
    width: 100% ;
    // height: 10em ;
    padding: 0px 1em ;
    text-align: left ;
    }
    dt {
    width: 100% ;
    // height: 1.6em ;
    padding: 0px 1em ;
    background-color: $cs9;
    color: white;
    margin-top: 4%;
    line-height: 2.028571;
    }
    dd {
    margin-left: 0px ;
    width: 100% ;
    padding: 0px 1em ;
    font-size: 0.9em ;
    text-align: left ;
    background-color: $cg ;
    line-height: 1.8;
    }
  }//display-detail
}//display-faq
