@import "definition/base";

/*common
==============================================================================================*/
html {
  font-size: 62.5%;
  min-width: 320px;
  overflow-x: hidden;
}

body {
  color: $cf;
  width: 100%;
  min-width: 320px;
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  //font-feature-settings: "palt";
  text-align: justify;
  overflow-x: hidden;
  height: 100%;
  &.no_scroll{
    position: fixed;
    overflow-y: scroll;
  }
}

img{
 max-width: 100%;
 height: auto;
}
iframe{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

p{
  line-height: 1.6em;
  letter-spacing:1px;
}

a {
  @include linkColor($ck);
  &:hover{
  }
}

#wrapper {
  background: $cs2;
  height: 100%;
}

//上部にh2を記載するコンテナ
.content_upper {
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 16%;
  margin-right: auto;
  max-width: 960px;
}

//メニューへ戻る
.menu-back {
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 16%;
  margin-right: auto;
  max-width: 960px;
}


//通常のviewで利用される、maxwidth870コンテナ
.content_container {
  background: $cb;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
  // height: 100%;
  @media #{$sp} {
    width: 100%;
    max-width: none;
    padding: 3% 2%;
  }
  @include cf
}

//ユーザーログインtopのコンテナ　スカウト一覧がindexされている paddingをoffしている
.content_user_top {
  @extend .content_container;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0%;
}

//messageなどフルワイド
.full_container {
  @extend .content_container;
  max-width: none;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
  padding-top: 0%;
  @include cf
}

//topページのフルワイド
.top-full-container {
  @extend .full_container;
  padding-bottom: 0%;
}

//devise_registration_session
.register-session-container {
  @extend .content_container;
  margin-top: 6%;
  margin-bottom: 13%;
}

//setting-container
.setting-container {
    @extend .content_container;
    padding-top: 5%;
    padding-bottom: 3%;
    margin-bottom: 25%;
    margin-top: 3%;
}

//設定indexコンテナ
.setting-container {
  width: 60%;
  @include cf;
  padding-top: 5%;
  padding-bottom: 3%;
  margin-bottom: 25%;
  margin-top: 3%;
  // @include display-container;

  ul {
    padding: 0;
    position: relative;
    li {
      color: white;
      background: #0b5bab;
      line-height: 2;
      padding: 0.8em 0.8em 0.8em 3em;
      border-bottom: 2px solid white;
      list-style-type: none!important;
      font-weight: bold; /*好みで太字に*/
      box-shadow: 1px 1px 0px gray;
      font-size: 1.6rem;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
      height: 56px;
      position: relative;
      a {
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        padding-top: 3%;
        padding-left: 5%;
        width: 100%;
        height: 100%;
      }
      // &:before {/*疑似要素*/
      //   font-family: "Font Awesome 5 Free";
      //   content: "\f14a";
      //   position: absolute;
      //   left : 0.5em; /*左端からのアイコンまでの距離*/
      //   color: white; /*アイコン色*/
      // }

    }//li
  }//ul
}//setting-container

//よく利用する大枠ホワイト
.setting-container-detail {
  @extend .setting-container;
  width: 60%;
  @include cf;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  margin-top: 1%;
}

//よく利用する色付きコンテナ
.color-container {
  margin: 2%;
  border: 1px solid #ec926b;
  background: #f5dabb;
  padding: 2%;
  @include shadow
}//registration-container

//よく利用する大枠ホワイト 入力フォーム
.setting-container-detail-form {
  @extend .setting-container;
  width: 60%;
  @include cf;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  margin-top: 1%;
}

//top_indexのコンテナ
.top-index-setting-container-detail {
  @extend .setting-container;
  width: 100%;
  @include cf;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  margin-top: 1%;
}

/*sp Layout
---------------------------------------*/
// .setting-container-detail-form {
//   @media #{$sp} {
//     width: 90%;
//   }
// }
//
// .setting-container {
//   @media #{$sp} {
//     width: 100%;
//   }
// }
//
// .content_upper {
//   @media #{$sp} {
//     font-size: 1.6rem;
//     margin-left: 4%;
//   }
// }

@media #{$sp} {
  .menu-back {
    margin-left: 4%;
  }
  .content_upper {
    font-size: 1.6rem;
    margin-left: 4%;
  }
  .setting-container {
    width: 100%;
  }
  .setting-container-detail-form {
    width: 90%;
  }
}
