<div class="content_upper">
  <h2>スカウト送付確認画面</h2>
</div>

<div class="content_container">
  <p> <%= @user.number_id %>さんへ</br>以下の登録文でスカウトメッセージを作成しました。</p>
  <table class="table_1">
    <tr>
      <th>要件</th>
      <td><%= @scout.summary %></td>
    </tr>
    <tr>
      <th>スカウトメッセージ</th>
      <td><%= @scout.content %></td>
    </tr>
  </table>
</div>

<div class="menu-back">
  <%= link_to "スカウト送付ページへ戻る" , :action => 'index' %>
</div>
