<div class="register-new-mail">
  <div class="display-title">
    <h3>パスワードの入力</h3>
  </div><!--display-title -->
  <div class="display-detail">
    <%= form_with url: { action: "byebyeaccept" } do |form| %>
    <div class="button_group">
      <div class="has-float-label_full_2col">
        <%= form.label :password, 'パスワード' %>
        <%= form.password_field :password, id: :password %>
      </div>
    </div>
    <%= form.submit :手続きを行う, class: 'basic-btn'%>
    <% end %>
  </div><!--display-detail -->
</div><!--register-new-mail -->
