<div class="register-new-mail">
  <div class="display-title">
    <h3>新しいメールアドレスへの変更</h3>
  </div><!--display-title -->
  <div class="display-detail">
    <form>
      <div class="has-float-label_full_lg">
        <input id="eee" type="text" placeholder=""/>
      </div>
    </form><!--from -->
    <div class="update-btn">変更する</div>
  </div><!--display-detail -->
</div><!--register-new-mail -->
