<!--
* 退会設定をするviewファイル。データベースからemployee_idに紐づく全データを削除するクエリを送れるように設定する
* 決めなくてはいけないこと：admin に通知を出すだけにして、管理者が全データを削除する操作をする業務フローにするかどうか。
　　　　　　　　　　　　　　あるいは、退会すると全データが削除されますが本当にいいですか？という確認が画面を表示させるかどうか。
                        または、パスワードによる認証を必要とするかどうか。
* ひとまず、全データをDBから削除するクエリにする。認証は一切取らない。
* 最終編集 : 2018.7.23  edited by takuya
-->

<!--
* 未解決のバグ等
  * 画面のヘッダーが最初のトップページの状態で、メニュー画面のようなページがない
-->

<!--
*jQueryが効かないのでAjaxがうまくいかない？
  * できれば退会ボタンを押したらパスワード入力させて退会手続きにさせる。
-->


<div class="content_upper">
  <h3>退会処理</h3>
</div>
<div class="setting-container-detail">
  <div class="confirm-quit-head">
    <p>本当に退会しますか？</p>
  </div><!--confirm-quit-head -->
  <%= link_to "退会する", {action: :byebyeresult}, remote: true, class: "btn quit-btn" %>
<div id="result-accept">
  <div id="result-quit">
  </div><!--result-quit ajaxのresult箇所 -->
</div><!--setting-container-detail -->
<!-- ここはいらなさそう。なぜなら、退会するから設定画面に戻ることはない。
  <tr>
    <th><%= link_to "設定画面へ戻る" , :action => 'index' %></th>
  </tr>
-->

<!-- <%= content_for :jsfooter do %>
<script>
  test()
</script>
<% end %> -->
