<!--
* ログイン情報を編集するviewファイル。
* 決めなくてはいけないこと：ここで編集可能な情報を決める。
                        多分、devise gemのパス / username編集の挙動をうまく使えばいける気がする。
* ひとまず、ページだけ実装する。
* 最終編集 : 2018.7.23  edited by takuya
-->

<!--
* 未解決のバグ等
  * 画面のヘッダーが最初のトップページの状態で、メニュー画面のようなページがない
-->

<div class="content_upper">
  <h3>ログイン情報の確認</h3>
</div>

<div class="setting-container-detail">
  <div class="registration-container">
    <p>登録しているメールアドレス</p>
    <div class="mail-text">
      <%= @user.email %>
    </div><!--mail-text -->
  </div><!--registration-container -->

  <p>登録メールアドレス、パスワードを変更をご希望の場合は、お手数ですが運営者であるジョブ建設までお問い合わせください。</p>


  <div class="return-guide">
    <%= link_to "設定画面へ戻る" , :action => 'index' %>
  </div>

</div><!--setting-container-detail -->
