<!--
* 通知設定を編集するviewファイル。
* 決めなくてはいけないこと：通知機能を、このアプリケーションの中での通知なのかスマホのポップアップ通知も含むのか。
* ひとまず、みためだけ実装する。
* 通知状態を保存するDBがないので、これはひとまずこのまま放置。
* 最終編集 : 2018.7.24  edited by takuya
-->

<!--
* 未解決のバグ等
  * 画面のヘッダーが最初のトップページの状態で、メニュー画面のようなページがない
-->


<div class="content_upper">
  <h3>通知設定</h3>
</div>
<div class="setting-container-detail">
  <div class="display-scoutmail">
    <div class="display-title">
      <h3>新着スカウトのメール通知</h3>
    </div><!--display-title -->
    <div class="display-detail">
      <p>必ず通知させていただくようになっております。</p>
    </div><!--display-detail -->
  </div><!--display-scoutmail -->

  <div class="display-popupmail">
    <div class="display-detail">
      <h3>施工ネットからのお知らせメール</h3>
      <div class="radio02">
        <input type="radio" name="radio02" class="radio02-input" id="radio02-01">
        <label for="radio02-01">受け取る</label>
        <input type="radio" name="radio02" class="radio02-input" id="radio02-02">
        <label for="radio02-02">受け取らない</label>
      </div><!--radio02 -->
    </div><!--display-detail -->
  </div><!--display-popupmail -->

  <div class="return-guide">
    <%= link_to "設定画面へ戻る" , :action => 'index' %>
  </div>
</div><!--setting-container-detail -->
