<!--
* ユーザの公開情報を編集するviewファイル。
* 決めなくてはいけないこと：1つずつのデータベースごとに細かく公開情報を設定することができるようにするのか、もっと軽い感じなのか。
* ひとまず、大雑把にみためだけ実装する。
* プロフィールの公開設定を保存するDBがないのでこちらは未実装のまま進める。
* 最終編集 : 2018.7.24  edited by takuya
-->

<!--
* 未解決のバグ等
  * 画面のヘッダーが最初のトップページの状態で、メニュー画面のようなページがない
-->

<div class="content_upper">
  <h3>公開情報設定</h3>
</div>
<div class="setting-container-detail">
  <div class="display-ng">
    <div class="display-title">
      <h3>ブロックワード</h3>
    </div><!--display-title -->
    <div class="display-detail">
      <p>※スカウト ⇒ 「有限会ジールソン」「ジールソン株式会社」などをブロック</p>
      <form>
        <div class="has-float-label_full_lg">
          <input id="eee" type="text" placeholder=""/>
        </div>
      </form><!--from -->
      <div class="add-btn">追加する</div>
      <div class="ng-index-container">
        <div class="ng-record">
          <div class="ng-name">
            <p>メルカリ株式会社</p>
          </div><!--ng-name -->
          <div class="ng-remove-btn">
            解除
          </div><!--ng-remove-btn -->
        </div><!--ng-record -->
        <div class="ng-record">
          <div class="ng-name">
            <p>株式会社ジールソン</p>
          </div><!--ng-name -->
          <div class="ng-remove-btn">
            解除
          </div><!--ng-remove-btn -->
        </div><!--ng-record -->
        <div class="ng-record">
          <div class="ng-name">
            <p>株式会社トヨタ</p>
          </div><!--ng-name -->
          <div class="ng-remove-btn">
            解除
          </div><!--ng-remove-btn -->
        </div><!--ng-record -->
      </div><!--ng-indx-container -->
    </div><!--display-detail -->
  </div><!--display-ng -->

  <div class="display-release">
    <div class="display-title">
      <h3>プロフィールを公開しますか？</h3>
    </div><!--display-title -->
    <div class="display-detail">
      <div class="radio02">
        <input type="radio" name="radio02" class="radio02-input" id="radio02-01">
        <label for="radio02-01">公開する</label>
        <input type="radio" name="radio02" class="radio02-input" id="radio02-02">
        <label for="radio02-02">公開しない</label>
      </div><!--radio02 -->
    </div><!--display-detail -->
  </div><!--display-release -->

  <div class="return-guide">
    <%= link_to "設定画面へ戻る" , :action => 'index' %>
  </div>
</div><!--settomg-container-detail -->
