@import "definition/base";
@import "layout/base";

.form-right-space {
  width: 30%;
  float: left;
  margin-top: 6%;
  font-size: 1.2rem;
}

textarea {
  height: 200px;
  @include shadow;
}

.setting-container-detail-form {
  .basic-btn {
    margin-top: 7%;
    margin-bottom: 6%;
  }//basic-btn
  .check {
      width: 100%;
  }
  .checkbox_col {
    padding-top: 3%;
  }
  .must_btton_text {
    top: -3%;
    left: 7%;
  }
  .must-btton-check {
    @extend %must_button;
    top: -3%;
    left: 5%;
  }
  .must-btton-check-2 {
    @extend .must-btton-check;
    left: 9%;
  }
  .value {
      margin: 3%;
      color: $cf;
      background: $cs5;
      line-height: 2;
      padding: 0.8em 0.8em 0.8em 3em;
      border: 1px solid #d2deea;
      list-style-type: none!important;
      font-weight: bold; /*好みで太字に*/
      box-shadow: 1px 1px 0px #d2deea;
      font-size: 1.3rem;
      cursor: pointer;
      height: 56px;
      position: relative;
      border-radius: 5%;
  } //value
  .labeltag {
    font-size: 1.3rem;
    left: 7%;
    position: absolute;
  }
  .labeltag-2 {
    @extend .labeltag;
    left: 0%;
    font-size: 1rem;
  }
  input[type="checkbox"] {
    margin: 1% 2% 2% 0%;
  }//input
  input:checked + .setting-container-detail-form.value{
      background: red;
  }
  .checkbox-label {
    position: absolute;
    top: 4%;
    left: 2%;
    font-size: 1.3rem;
  }
  .button_group-2 {
    @extend .button_group;
    margin-top: 2%;
  }
  .button_group-3 {
    @extend .button_group;
    margin-top: 2%;
    width: 100%;
    float: left;
  }
  .has-float-label_full_lg-text {
    @extend .has-float-label_full_lg;
  }
}//setting-container-detail-form

/*sp Layout
---------------------------------------*/
@media #{$sp} {
.setting-container-detail-form {
    #mini-size {
      @include cf;
      width: 100%;
      .has-float-label_full_2col {
        width: 80%;
      }//has-float-label_full_2col
      .form-right-space {
        width: 10%;
        font-size: 1rem;
        float: left;
      }//form-right-space
    }//mini-size
    .has-float-label_full_2col {
      width: 90%;
      margin-left: 5%;
      .must_btton_text {
        top: -15%;
        left: 17%;
      }//must_btton_text
      label, > span {
        top: 0em;
      }//label, > span
    }//has-float-label_full_2col
    .basic-btn {
      width: 50%;
      height: 10%;
    }//basic-btn
    .checkbox_col {
      display: block;
    }
    .checkbox-label {
      top: -1%;
    }
    .must-btton-check {
      left: 11%;
      top: -2%;
    }
    .labeltag {
      top: 29%;
    }
    .labeltag-2 {
      font-size: 1.3rem;
      left: 7%;
    }
    .value {
      border-radius: 3%;
    }
    .must-btton-check-2 {
      left: 20%;
    }
    input[type="textarea"] {
      #personal_summary {
        padding-top: 13%;
      }
    }
    .has-float-label_full_lg-text {
      label {
        top: -1em;
      }
    }
  }//setting-container-detail-form
}//@media
