@import "definition/base";
@import "layout/base";

.form-right-space {
  width: 30%;
  float: left;
  margin-top: 6%;
  font-size: 1.2rem;
}

textarea {
  height: 200px;
  @include shadow;
}

.from-error {
  ul {
    
  }
}
