@import "definition/base";
@import "layout/base";


.main-parts {
  background: #fcc;
  width: 65%;
  min-height: 80%;
}
.side-parts {
  background: #fea;
  width: 35%;
  min-height: 80%;
  border-right: 1px solid gray;
}

/* 上部ヘッダー 共通*/
.messages_header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid gray;
  @include shadow;
}

.messages-tab {
  height: 100%;
}

.tab-parts {
  width: 50%;
  float: left;
  text-align: center;
  padding: 3%;
  height: 100%;
}

/* Responsive */
@media ( min-width : 600px ){
    .flexbox {
      display: -webkit-flex;
      display: flex;
      height: 100%;
    }
  .main {
    margin: 0 10px 0 0;
  }
}

/*タブ切り替え全体のスタイル*/
.tabs {
margin-top: 50px;
padding-bottom: 40px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
width: 100%;
margin: 0 auto;}
/*タブのスタイル*/
.tab_item {
width: calc(100%/3);
height: 50px;
border-bottom: 3px solid #5ab4bd;
background-color: #d9d9d9;
line-height: 50px;
font-size: 16px;
text-align: center;
color: #565656;
display: block;
float: left;
text-align: center;
font-weight: bold;
transition: all 0.2s ease;
}
.tab_item:hover {
opacity: 0.75;
}
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
display: none;
padding: 40px 40px 0;
clear: both;
overflow: hidden;
}
/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
display: block;
min-height: 150px;
overflow: scroll;
}
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
background-color: #5ab4bd;
color: #fff;
}

.tab_content_description {
  max-height: 850px;
  overflow: scroll;
}
