@import "definition/base";
@import "layout/base";


/* オファー受け取りボタン*/
.accept_btn {
  @extend %btn_skel;
  @extend %btn_mid;
  @extend %btn_color;
  background: #1927a2;
}

/* 送付済みボタン*/
.accept-btn-fin {
  @extend .accept_btn;
  background: $cf;
}

/* スカウト詳細メッセージ============*/
.message-dtail{
  width: 90%;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 2px #bfbfbf;
  margin-top: 3%;
  padding: 2%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  p {
    overflow-wrap : break-word;
    font-size: 1.4rem;
  }
}

.tag-detail-scout {
  @extend .tag;
  margin: 3% 0% 3% 5%;
}

/* スカウト一覧============*/
.frame_index {
  .text {
    width: 100%;
    a {
      margin-left: 1%;
    }
  }
}//frame_index
