@import "definition/base";
@import "layout/base";

//無料登録ボタン
.top-guide-message-btn {
  @extend %btn_skel;
  @extend %btn_lar;
  @extend %btn_color;
  background: $cs10;
  transition: .4s;
  float: left;
  position: absolute;
  bottom: 6%;
  width: 50%;
  left: 25%;
  height: 11%;
  padding-top: 0.5%;
  border: 3px solid white;
  font-size: 2.8rem;
  @include shadow;
  &:hover {
    background: $cs6;
    text-decoration: none;
  }
}//top-guide-message-contain


//すでに登録済みの方はこちらボタン
.top-guide-login-btn {
  @extend %btn_skel;
  @extend %btn_lar;
  @extend %btn_color;
  background: $cs13;
  transition: .4s;
  float: left;
  position: absolute;
  top: 12%;
  width: 10%;
  left: 33%;
  height: 10%;
  padding-top: 0.5%;
  font-size: 1.3rem;
  @include shadow;
  &:hover {
    background: $cs6;
    text-decoration: none;
  }
}//top-guide-message-contain


//section title　point faq共通利用
.top-point-title {
  @include cf;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  .top-point-title-en {
    h2 {
      text-align: center;
      font-size: 3.4rem;
      color: $ck;
      &:before {
        content: 'ー';
        font-size: 2.8rem;
      }
      &:after {
        content: 'ー';
        font-size: 2.8rem;
      }
    }//h2
  }//top-point-title
  .top-point-title-ja {
    text-align: center;
  }//top-point-title
}//top-point-title

.pc-main-visual{
  @include cf;
  height: 500px;
  // background:url(#{$imgPath}/bg-main-visual.jpg) no-repeat;
  // img {
  background-size: cover;
  background-position: bottom;
  margin-top: -1%;
  position: relative;
}//pc-main-visual

.top-point-container {
  @include cf;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  margin-top: 4%;
  .top-point-title {
    @include cf;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .top-point-title-en {
      h2 {
        text-align: center;
        font-size: 3.4rem;
        color: $ck;
        &:before {
          content: 'ー';
          font-size: 2.8rem;
        }
        &:after {
          content: 'ー';
          font-size: 2.8rem;
        }
      }//h2
    }//top-point-title
    .top-point-title-ja {
      text-align: center;
    }//top-point-title
  }//top-point-title
  .three-boxes-container {
    @include cf;
    margin: 2% 0% 2% 0%;
    .row {
      list-style: none;
      padding-left: 0px;
      .row-eq-height {
        display: flex;
        flex-wrap: wrap;
      }
      .col-md-4 {
        border: 1px solid $cg;
        @include shadow;
        border: 1px solid #f3f3f3;
        box-shadow: 1px 1px 1px #bfbfbf;
        padding-left: 0%;
        padding-right: 0%;
        .inner-box {
        padding-left: 0%;
        padding-right: 0;
        margin-left: 1%;
        margin-right: 1%;
         img {
           width: 100%;
         }//img
         h3 {
           text-align: center;
           padding: 1%;
           color: $ck;
         }//h3
         p {
           padding: 5%;
         }//p
          .image-of-boxes {

          }//image-of-boxes
          .title-of-boxes {

          }//title-of-boxes
          .text-of-boxes {

          }//title-of-boxes
        }//inner-box
      }//col-md-4
   }//row
  }//three-boxes-container
}//top-point-container


/*3STEP flow
---------------------------------------*/
.section-flow{
  padding-top: 0;
  h2{
    position: relative;
    color: $cb;
    background: $cs4;
    padding: 1.5%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 60px;
    z-index: 10;
    &::after{
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 80px 0 80px;
      border-color: $cs4 transparent transparent transparent;
      @include absPosition($top: auto, $right: 0, $bottom: -60px, $left: 0);
      top: auto;
      display: block;
      margin: 0 auto ;
    }
  }//h2
  .top-step-title {
    @include cf;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    .top-step-title-en {
      h3 {
        text-align: center;
        font-size: 3.4rem;
        color: $cb;
        &:before {
          content: 'ー';
          font-size: 2.8rem;
        }
        &:after {
          content: 'ー';
          font-size: 2.8rem;
        }
      }//h3
    }//top-point-title
    .top-step-title-ja {
      text-align: center;
      p {
        font-size: 2rem;
        color: $cb;
      }
    }//top-point-title
  }//top-point-title
  .step-visual{
    @include cf;
    height: 900px;
    background-size: cover;
    background-position: bottom;
    margin-top: -6%;
    position: relative;
    .three-boxes-container {
      @include cf;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2%;
      position: relative;
      .row {
        list-style: none;
        padding-left: 0px;
        .row-eq-height {
          display: flex;
          flex-wrap: wrap;
        }
      .step-arrow01 {
        position: absolute;
        top: 42%;
        left: 30%;
        width: 6%;
        z-index: 20;
      }//step-arrow01
      .step-arrow02 {
        position: absolute;
        top: 42%;
        left: 64%;
        width: 6%;
        z-index: 20;
      }//step-arrow02
      .col-md-4 {
        border: 1px solid $cg;
        @include shadow;
        border: 1px solid #f3f3f3;
        box-shadow: 1px 1px 1px #bfbfbf;
        padding-left: 0%;
        padding-right: 0%;
        background: $cb;
        .inner-box {
        padding-left: 0%;
        padding-right: 0;
        margin-left: 1%;
        margin-right: 1%;
       img {
         width: 100%;
       }//img
       h3 {
         text-align: center;
         padding: 1%;
         color: $ck;
       }//h3
       p {
         padding: 5%;
       }//p
     }//inner-box
     }//col-md-4
     }//row
    }//three-boxes-container
    .guide-btn-container {
      @include cf;
      position: relative;
      .balloon1 {
       	position: relative;
      	display: inline-block;
      	padding: 7px 10px;
       	max-width: 100%;
        font-size: 2rem;
        background: $cb;
        border-radius: 6px;
        width: 46%;
        text-align: center;
        margin-left: 27%;
        margin-right: 27%;
        margin-top: 6%;
        color: $ck;
        &:before{
        	content: "";
        	position: absolute;
        	top: 100%;
        	left: 50%;
         	margin-left: -30%;
        	border: 15px solid transparent;
        	border-top: 15px solid $cb;
        }
        p {
          margin: 0;
  	      padding: 0;
        }
      }//balloon1
      .top-guide-message-btn {
        height: 50%;
        padding-top: 0.5%;
        position: absolute;
        top: 110%;
        a {
          padding-top: 0%;
        }
      }//top-guide-message-btn
  }//guide-btn-container
  }//pc-step-visual


  .txt-01{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: $cs;
    margin: 40px auto 30px;
  }


  ul{
    @media #{$desktop} {
      display: flex;
    }
    @include cf;
    li{
      border: 2px solid $cs;
      float: left;
      width:20.5%;
      &:nth-child(even){
        // @extend %flex_align;
        width:6%;
        border: none;
        transform: scale(.8);
        img{
          width: 100%;
        }
      }

      .txt-02{
        text-align: center;
        font-size: 2.6rem;
        font-weight: bold;
        color: $cb;
        background: $cs;
        height:50px;
        line-height: 50px;
        margin-bottom: 16px;
      }
      h3{
        color: $ck;
        text-align: center;
        font-size: 2.6rem;
        font-weight: bold;
      }
      .txt-03{
        padding: 16px;
      }
    }//li
  }
}//.section-flow


/*FAQ
---------------------------------------*/
.top-section-faq {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  .display-faq {
    box-shadow: 1px 1px 5px #bfbfbf;
    @extend %display-container;
    .display-detail {
      h3 {
        width: 96%;
        border-bottom: 1px solid #b9b9b9;
        font-size: 1.8rem;
        padding-bottom: 1.5%;
      }
      p {
        font-type: bold;
      }
      dl {
      width: 100% ;
      // height: 10em ;
      padding: 0px 1em ;
      text-align: left ;
      }

      dt {
      width: 100% ;
      // height: 1.6em ;
      padding: 0px 1em ;
      background-color: $cs9;
      color: white;
      margin-top: 4%;
      line-height: 2.028571;
      }

      dd {
      margin-left: 0px ;
      width: 100% ;
      padding: 0px 1em ;
      font-size: 0.9em ;
      text-align: left ;
      background-color: $cg ;
      line-height: 1.8;
      padding-top: 1%;
      padding-bottom: 1%;
      }
    }//display-detail
  }//display-faq
}//top-section-faq

/*contact
---------------------------------------*/
.top-section-contact {
  width: 100%;
  background: $ck;
  @include cf;
  height: 100%;
  padding-bottom: 2%;
  .top-contact-title {
    @include cf;
    height: 100%;
    text-align: center;
    padding: 2%;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    h2 {
      font-size: 2.6rem;
      color: $cb;
      &:before {
        content: '＼';
      }
      &:after  {
        content: '／';
      }
    }
  }//top-contact-title
  .top-contact-container {
    @include cf;
    height: 100%;
    width: 80%;
    margin: 0% 10% 2% 10%;
    background: $cb;
    .top-contact-flow {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3%;
      .flow_contact {
        @extend %flow_model;
        li {
          width: 33%;
        }
      }
      .active {
        background-color: $cs4;
        color: $cb;
        &:after {
          background-color: $cs4;
        }
        &:before {
          background-color: $cs4;
          }
       }//active
    }//top-contact-flow
    .top-contact-mail {
      margin: 1%;
    }//top-contact-mail
    .top-contact-mail-term-link {
      width: 80%;
      margin: 1%;
      margin-left: auto;
      margin-right: auto;
      ul {
        list-style: none;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        li {
          display: inline-block;
          margin-right: 8%;
        }
      }//ul
    }//top-contact-mail-term-link
    .top-contact-btn {
      height: 100px;
      position: relative;
      @include cf;
      .top-guide-message-btn {
        background: $cs11;
        padding-bottom: 4%;
        font-size: 2rem;
        height: 6%;
        padding-top: 1.5%;
        &:hover {
          background: $cs12;
        }
      }//top-guide-message-btn
    }//top-contact-btn
    .top-contact-caution {
      margin-top: 1%;
      margin-bottom: 2%;
      ul {
        list-style: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }//top-contact-caution
  }//top-contact-container
}//top-section-contact


/*デスクトップ ipadproの調整
---------------------------------------*/

@media #{$desktop} {
  .sp-main-visual {
    display: none;
  }//pc-main-visual
}

/*width-max Layout
---------------------------------------*/
@media #{$desktop4} {
  .pc-main-visual {
    height: 600px;
  }//pc-main-visual
  .section-flow{
    .step-visual{
      height: 1200px;
    }//pc-step-visual
  }//section-flow
}

/*ipad Layout
---------------------------------------*/
@media #{$sm} {
  .pc-main-visual {
    height: 380px;
    .top-guide-message-btn {
      font-size: 2.4rem;
    }
  }//pc-main-visual
  .col-md-4 {
    width: 33%;
  }
  .inner-box {
    margin-bottom: 2%;
    width: 100%;
  }
  .sp-main-visual {
    display: none;
  }//sp-main-visual
  .top-guide-login-btn {
    width: 15%;
  }//top-guide-login-btn
  .section-flow {
    h2 {
      margin-bottom: 0px;
      &::after {
        display: none;
      }
    }//h2
    .step-visual {
      height: 100%;
      padding-bottom: 20%;
      .guide-btn-container {
        width: 100%;
        .balloon1 {
          width: 60%;
          margin-left: 20%;
          font-size: 1.4rem;
        }//balloon1
        .top-guide-message-btn {
          margin-left: -20%;
          font-size: 1.8rem;
          width: 70%;
          margin-left: -10%;
          font-size: 1.8rem;
          height: 60%;
          padding-top: 1%;
        }//top-guide-message-btn
      }//guide-btn-container
    }//step-visual
  }//section-flow
  .top-section-faq {
    width: 90%;
  }//top-section-faq
  .top-section-contact {
    .top-contact-container {
      .top-contact-flow {
        width: 90%;
      }//top-contact-flow
      .top-contact-btn {
        height: 70px;
        .top-guide-message-btn {
          padding-bottom: 6%;
          height: 6%;
          padding-top: 1.5%;
        }//top-guide-message-btn
      }//top-contact-btn
      .top-contact-caution {
        ul {
          text-align: left;
        }//ul
      }//top-contact-caution
    }//top-contact-container
  }//top-section-contact
}//@media sm

/*sp2,sp3はsp Layout
---------------------------------------*/
@media #{$sp2} {
  .top-point-title {
    width: 100%;
    .top-point-title-en {
      h2 {
        font-size: 2.6rem;
      }//h2
    }//top-point-title-en
    .top-point-title-ja {
      h3 {
        font-size: 2rem;
      }//h3
    }//top-point-title-ja
  }//top-point-title
  .top-point-container {
    .top-point-title {
      width: 100%;
      .top-point-title-en {
        h2 {
          font-size: 2.6rem;
        }//h2
      }//top-point-title-en
      .top-point-title-ja {
        h3 {
          font-size: 2rem;
        }//h3
      }//top-point-title-ja
    }//top-point-title
  }//top-point-container
  .pc-main-visual {
    display: none;
  }//pc-main-visual
  .sp-main-visual {
    height: 600px;
    background-size: cover;
    background-position: bottom;
    position: relative;
    .top-guide-message-btn {
      width: 90%;
      bottom: 2%;
      left: 5%;
      padding-top: 4%;
      font-size: 2rem;
    }//top-guide-message-btn
  }//sp-main-visual
  .three-boxes-container {
    .row {
      .inner-box {
        margin-bottom: 2%;
        width: 100%;
      }//inner-box
    }//row
  }//three-boxes-container
  .top-guide-login-btn {
    top: 4%;
    width: 20%;
    top: 1%;
    height: 7%;
    left: 79%;
    font-size: 1rem;
  }//top-guide-login-btn
  .section-flow {
    h2 {
      font-size: 2.6rem;
      font-weight: normal;
      margin-bottom: 0px;
      &::after{
         display: none;
      }//after
    }//h2
    .top-step-title {
      .top-step-title-en{
        h3 {
          font-size: 2rem;
        }//h3
      }//top-step-title-en
      .top-step-title-ja{
        p {
          font-size: 2rem;
        }//p
      }//top-step-title-ja
    }//top-step-title
    .step-visual {
      height: 100%;
      padding-bottom: 25%;
      .three-boxes-container {
        .row {
          .col-md-4 {
            border: 0px solid #f3f3f3;
            .inner-box {
              margin-left: 0%;
              margin-right: 0%;
            }//inner-box
          }//col-md-4
        }//row
      }//three-boxes-container
      .guide-btn-container {
        width: 100%;
        .balloon1 {
          width: 90%;
          margin-left: 5%;
          font-size: 1.4rem;
        }//balloon1
        .top-guide-message-btn {
          margin-left: -20%;
          font-size: 1.8rem;
          width: 90%;
          margin-left: -20%;
          font-size: 1.8rem;
          height: 60%;
        }//top-guide-message-btn
      }//guide-btn-container
    }//step-visual
  }//section-flow
  .top-section-faq {
    width: 100%;
    .display-faq {
      .display-detail {
        dl {
          padding: 0% 0% 0% 0%;
          padding-right: 2%;
        }//dl
        dt {
          padding: 2% 1em;
          line-height: 1.528571;
          font-size: 1.6rem;
          font-weight: normal;
        }//dt
      }//display-detail
    }//display-faq
  }//top-section-faq
  .top-section-contact {
    .top-contact-title {
      width: 100%;
      margin-left: 0%;
      h2 {
        font-size: 2.6rem;
        width: 100%;
      }//h2
    }//top-contact-title
    .top-contact-container {
      .top-contact-flow {
        display: none;
      }//top-contact-flow
      .top-contact-btn {
        .top-guide-message-btn {
          height: 50%;
          left: 4%;
          width: 90%;
          font-size: 1.5rem;
          padding-top: 4%;
        }//top-guide-message-btn
      }//top-contact-btn
      .top-contact-caution {
        font-size: 1.3rem;
        ul {
          padding-left: 0%;
          text-align: left;
        }
      }//top-contact-caution
    }//top-contact-container
  }//top-section-contact
}

@media #{$sp3} {
  .sp-main-visual {
    height: 500px;
  }//sp-main-visual
  .inner-box {
    margin-bottom: 2%;
    width: 100%;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  .section-flow {
    h2 {
      padding: 3.5%;
    }//h2
    .step-visual {
      .top-step-title {
        padding-top: 5%;
        p {
          font-size: 1.8rem;
        }//p
      }//top-step-title
    }//step-visual

  }//section-flow
  .top-guide-login-btn {
    top: 4%;
    width: 25%;
    top: 1%;
    height: 7%;
    left: 67%;
    font-size: 1rem;
  }//top-guide-login-btn
}
