@import "definition/base";
@import "layout/base";

//設定ページcss

//各ページのコンテナ
//公開情報
//NGワード設定
.display-ng {
  @extend %display-container;
  .add-btn {
    @extend %btn_skel;
    @extend %btn_sm;
    @extend %btn_color;
    background: $cs7;
    margin-bottom: 2%;
    transition: .4s;
    float: left;
    margin-left: 2%;
    margin-right: 70%;
    &:hover {
      background: $cs6;
    }
  }//add-btn
  .ng-index-container {
    @include cf;
    float: left;
    width: 90%;
    margin: 2%;
    .ng-record {
      @include cf;
      border-bottom: 1px solid #80808036;
      width: 100%;
      .ng-name {
        width: 70%;
        float: left;
        margin-top: 2%;
      }//ng-name
      .ng-remove-btn {
        width: 15%;
        float: right;
        @extend %btn_skel;
        @extend %btn_sm;
        @extend %btn_color;
        background: #1927a2;
        margin-bottom: 2%;
        transition: .4s;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 2%;
        &:hover {
          background: $ck;
        }
      }//ng-remove-btn
    }//ng-record
  }//ng-index-container
}//display-ng

//公開設定
.display-release {
  @extend %display-container;
}//display-release

//設定画面へ戻るボタン
.return-guide {
  margin: 6% 2% 3% 2%;
}//return-guide

//メールアドレスの変更ページ
//既存メールアドレス表記
.registration-container {
  margin: 2%;
  border: 1px solid #ec926b;
  background: #f5dabb;
  padding: 2%;
  @include shadow
}//registration-container

//新いメールアドレスの登録
.register-new-mail {
  @extend %display-container;
}//register-new-mail

//変更ボタンの登録
.update-btn {
  @extend %btn_skel;
  @extend %btn_sm;
  @extend %btn_color;
  background: $ck;
  transition: .4s;
  float: left;
  margin:5% 40%;
  width: 20%;
  &:hover {
    background: $ckh;
  }
}

//パスワードの変更
.register-new-pass {
  @extend %display-container;
  .display-detail {
    h3 {
      width: 96%;
      border-bottom: 1px solid #b9b9b9;
      font-size: 1.8rem;
      padding-bottom: 1.5%;
    }
    p {
      font-type: bold;
    }
  }
}//register-new-pass


//通知設定ページ
//スカウト通知メール
.display-scoutmail {
  @extend %display-container;
}

//施工ネットからのお知らせメール設定
.display-popupmail {
  @extend %display-container;
  .display-detail {
    h3 {
      width: 96%;
      border-bottom: 1px solid #b9b9b9;
      font-size: 1.8rem;
      padding-bottom: 1.5%;
    }
    p {
      font-type: bold;
    }
  }
}//display-popup

//退会処理ページ
//本当に退会するか確認head
.confirm-quit-head {
  margin: 2%;
  border: 1px solid #ec926b;
  background: #f5dabb;
  padding: 2%;
  @include shadow
}//confirm-quit-head

//退会ボタン
.quit-btn {
  @extend .update-btn;
  width: 40%;
  margin: 5% 30%;
}

//退会ボタン
#result-quit {
}

@media #{$sp2} {
  .has-float-label_full_2col {
    width: 94%;
  }
  input[type="submit"] {
    height: 10%;
    .btn {
      .quit-btn {

      }//quit-btn
    }//btn
  }//input submit
}//@media sp2
