<%= provide(:title, 'SekouAPP') %>
<div class="content_upper">
  <h2>スカウト管理</h2>
</div>

<div class="content_container">
  <div class="setting-container">
    <ul>
      <li><%= link_to '求職者リストからスカウトを送る', scouts_path %></li>
      <li><%= link_to 'スカウト送付済みの状況確認', scout_checks_path %></li>
    </ul>
  </div><!--setting-container -->
</div>
<div class="menu-back">
  <%= link_to 'メニューへ戻る', client_menu_url %>
</div>
