/*color
==============================================================================================*/
$cb:#ffffff;//base color
$cf:#333333;//font color
$cl:#cccccc;//border color
$ck:#194fa2;//key color
$cg:#f3f3f3;//background color
$ckh:lighten($ck,40%);//key color hover
$cs:#007DC0;//sub color
$csh:lighten($cs,40%);//sub color hover
$cs2:#19A7DD;//sub2 color
$cs3:#FFDC00;//sub3 color
