/*color
==============================================================================================*/
$cb:#ffffff;//base color
$cf:#333333;//font color
$cl:#cccccc;//border color
$ck:#194fa2;//key color
$cg:#f3f3f3;//background color
$ckh:lighten($ck,40%);//key color hover
$cs:#007DC0;//sub color
$csh:lighten($cs,40%);//sub color hover
$csh2:rgba(0, 159, 243, 0.05);//sub color hover2
$cs2:rgba(201, 214, 232, 0.24);//sub2 color
$cs3:rgba(80, 160, 241, 1);//sub3 color bodyのbackground
$cs4:rgba(2, 63, 113, 1);//sub4 color 暗いネイビー
$cs5:rgba(80, 160, 241, 0.02);//sub5 color 薄いブルー 主にdetailコンテナのbackground
$cs6:#f16022;//sub6 暖色系差し色　ボタンで利用
$cs7:#f18d62;//sub7 暖色系差し色　ボタンで利用 6に白色
$cs8:#2479fd;//sub8 ブルーで明るい白色　よくある質問系
$cs9:#0C5BAB;//sub9 濃い系ブルー　よくある質問系
$cs10:#f1801b;//sub10 暖色系オレンジ
$cs11:#f13737;//sub11 暖色系赤色　仮登録同意ボタンなど
$cs12:#de0000;//sub12 暖色系赤色　仮登録同意ボタンなど
$cs13:#1b76f1;//sub13 ブルー明るい系　top画面のサインイン案内
