<div class="container">
 <div class="row">
     <p class="logo"><strong>
       <a href="/">
         施工ネット 測量・設計
       </a>
     </strong></p>
     <ul>
       <li>運営会社</li>
       <li>利用規約</li>
       <li>プライバシーポリシー</li>
       <li>ヘルプ</li>
       <li>お問い合わせ</li>
     </ul>
      <p class="copy">&copy;&nbsp;施工ネット</p>
 </div><!--row-->
</div><!--container-->
<div id="backtop">
</div>
