<% content_for :header do %>
<header>
<div class="container">
 <div class="row">
   <div class="container-fluid">
     <div class="logo">
       <a href="/" id ="pate-top">
         <%= image_tag("white-logo.svg", :alt => "施工ネット") %>
       </a>
     </div><!--logo-->
     <div class="con-domain-sign-in">
       <p>測量・設計</p>
     </div><!--con-domain-->
    </div><!--container-fluid-->
  </div><!--row-->
</div><!--container-->
</header>
<% end %>
