<div class="container">
 <div class="row">
   <div class="container-fluid">
      <h1>
        施工.com
      </h1>

      <nav class="hidden-md-down">
        <ul>
          <li><a href="/#service">サービス</a></li>
          <li><a href="/#point">特徴・メリット</a></li>
          <li><a href="/#flow">ご利用の流れ</a></li>
          <li><a href="/#faq">よくある質問</a></li>
          <li><a href="/#contact">ご依頼・お問い合わせ</a></li>
        </ul>
      </nav>

      <p class="btn-mail hidden-lg-up">
      </p>

      <div class="tel-box hidden-md-down">
      </div>
    </div><!--container-fluid-->
  </div><!--row-->
</div><!--container-->
