<% content_for :header do %>
<header>
<div class="container">
 <div class="row">
   <div class="container-fluid">
     <!-- <div class="sub-title">
        <p>測量に特化したサービス</p>
     </div> -->
     <!-- <h1><a href="/"><font color = "ffffff">施工ネット.com</font></a></h1> -->
     <div class="logo">
       <a href="/mypage" id ="pate-top">
         <%= image_tag("white-logo.svg", :alt => "施工ネット") %>
       </a>
     </div><!--logo-->
     <div class="con-domain">
       <p>測量・設計</p>
     </div><!--con-domain-->
      <nav class="hidden-md-down">
        <ul>
          <li><a href="/scout_views">スカウト</a></li>
          <li><a href="/#point">メッセージ</a></li>
          <li><a href="/#flow">履歴書</a></li>
          <li><a class="toggle menu">設定</a>
            <ul class="inner child">
              <li class="inner-li_1"><a href="/user_setting/viewconfig">公開情報</a></li>
              <li class="inner-li_2"><a href="/user_setting/logininfo">ログイン情報</a></li>
              <li class="inner-li_3"><a href="/user_setting/popupconfig">通知機能</a></li>
              <li class="inner-li_4"><a href="/user_setting/byebye">退会</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <ul>
            <li class="nav-li_1"><a href="/scout_views">スカウト</a></li>
            <li class="nav-li_1"><a href="/#point">メッセージ</a></li>
            <li class="nav-li_1"><a href="/#flow">履歴書</a></li>
            <li class="nav-li_2">設定
              <ul class="inner child">
                <li class="nav-li_1"><a href="/user_setting/viewconfig">公開情報</a></li>
                <li class="nav-li_1"><a href="/user_setting/logininfo">ログイン情報</a></li>
                <li class="nav-li_1"><a href="/user_setting/popupconfig">通知機能</a></li>
                <li class="nav-li_1"><a href="/user_setting/byebye">退会</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div><!--container-fluid-->
  </div><!--row-->
</div><!--container-->
</header>
<% end %>
