<%= provide(:title, 'SekouAPP') %>
<% content_for :header do %>
<div class="container">
 <div class="row">
   <div class="container-fluid">
     <h1>施工.com</h1>
      <nav class="hidden-md-down">
        <ul>
          <li><a href="/#service">スカウト</a></li>
          <li><a href="/#point">メッセージ</a></li>
          <li><a href="/#flow">履歴書</a></li>
          <li><a class="toggle menu" href="/#faq">設定</a>
            <ul class="inner child">
              <li class="inner-li_1">公開情報</li>
              <li class="inner-li_2">ログイン情報</li>
              <li class="inner-li_3">通知機能</li>
              <li class="inner-li_4">退会</li>
            </ul>
          </li>
        </ul>
      </nav>
      <p class="btn-mail hidden-lg-up">
      </p>
      <div class="tel-box hidden-md-down">
      </div>
    </div><!--container-fluid-->
  </div><!--row-->
</div><!--container-->
<% end %>

<% content_for :footer do %>
  <div class="container">
   <div class="row">
     <div class="container-fluid">

       <p class="logo"><strong>
         <a href="/">
           太陽光発電メンテナンス専門の業者紹介・選定サービスaaaa
         </a>
       </strong></p>
       <ul>
         <li>aaa</li>
         <li>aaa</li>
         <li>aaa</li>
       </ul>
     </div><!--container-fluid-->
   </div><!--row-->
  </div><!--container-->
  <div id="backtop">
  </div>
  <p class="copy">&copy;&nbsp;太陽光メンテプロ</p>
<% end %>

<% parent_layout 'application' %>
