<%= provide(:title, 'SekouAPP') %>
<% content_for :header do %>
<div class="container">
 <div class="row">
   <div class="container-fluid">
     <h1>施工ネット 測量・設計</h1>
      <nav class="hidden-md-down">
        <ul>
          <li><a href="/#service">スカウト</a></li>
          <li><a href="/#point">メッセージ</a></li>
          <li><a href="/#flow">履歴書</a></li>
          <li><a class="toggle menu" href="/#faq">設定</a>
            <ul class="inner child">
              <li class="inner-li_1">公開情報</li>
              <li class="inner-li_2">ログイン情報</li>
              <li class="inner-li_3">通知機能</li>
              <li class="inner-li_4">退会</li>
            </ul>
          </li>
        </ul>
      </nav>
      <p class="btn-mail hidden-lg-up">
      </p>
      <div class="tel-box hidden-md-down">
      </div>
    </div><!--container-fluid-->
  </div><!--row-->
</div><!--container-->
<% end %>
<% parent_layout 'application' %>
