<p>Welcome <%= @email %>!</p>

<p>この度はジョブ建設をご利用いただきありがとうございます。</p>
<p>次のリンクをクリックして仮登録を終えてください</p>
<p>仮登録終了後、担当より電話でのご連絡をいたします。</p>

<p><%= link_to '仮登録を終える', confirmation_url(@resource, confirmation_token: @token) %></p>
